/* 404============= */

.err_cont{
 margin: 0 auto;
 width: 90vw;
 height: 90vh;
 /* margin-top: 5rem; */
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
}
.searching_img{
 height: 70vh;
}
.img_cont{
 flex: 0.5;
}
.message_cont{
 min-width: 20rem;
 max-width: 40rem;
 flex: 0.5;
}

@media screen and (max-width:992px) {
 .err_cont{
  flex-direction: column;
 }
 .img_cont{
  order: 1;
 }
}
@media screen and (max-width:568px) {
 .message_cont>h2{
  font-size: 1rem;
  letter-spacing: var(--spacing-low);
 }
 .message_cont>h3{
  font-size: 0.8rem;
  letter-spacing: var(--spacing-low);
 }
 .searching_img{
  height: 40vh;
 }
}

/* 404============= */