:root {
    /* dark shades of primary color*/
    --clr-primary-1: #38803A;
    --clr-primary-2:#3E8E41;
    --clr-primary-3:#449C47;
    --clr-primary-4: #4BAA4E;
    /* primary/main color */
    /* --clr-primary-5: #D7FCDB; */
    --clr-primary-5: #4CAF4F;
    /* lighter shades of primary color */
    --clr-primary-6: #71C174;
    --clr-primary-7: #8ECD90;
    --clr-primary-8: #C6FBCB;
    --clr-primary-9: #D7FCDB;
    --clr-primary-10: #ECFEEE;
  
  
  /* Secondry color */
    --clr-secondry-1: #FFC933;
    --clr-secondry-2: #FFC31F;
    --clr-secondry-3: #FFBE0A;
    --clr-secondry-4: #F5B400;
    --clr-secondry-5: #E0A500;
  
  /* red color */
    --clr-red-1: #E42535;
    --clr-red-2: #E63946;
    --clr-red-3: #E94957;
  
    /* white color */
    --clr-white: #fff;
  
  
  
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 31%, 19%);
    --clr-grey-2: hsl(211, 28%, 26%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
  
  
  
    --font-primary:  'Nunito', sans-serif;;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --spacing-low: 0.15rem;
    --radius-high: 1rem;
    --radius-low: 0.5rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  /*
  ===============
  Global Styles
  ===============
  */
  
 .heading{
    align-items: center;
    text-align: center;
    font-size: x-large;
 }

 input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
  }


  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 20px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.4s;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }

  .admin_form {
    border-radius: 5px;
    padding: 20px;
  }

