.column1 {
    width: 10%; /* 1st column width */
  }
  
  .column2 {
    width: 30%; /* 2nd column width */
  }
  
  .column3 {
    width: 30%; /* 3rd column width */
  }
  
  .column4 {
    width: 15%; /* 4th column width */
  }
  
  .column5 {
    width: 15%; /* 5th column width */
  }
  .vieweye{
    height: 30px;
    width: 40px;
  }

  .orderpost_view{
    background:#A7F432;
    border-radius: var(--radius-low);
    border: 2px solid #4BAA4E;
    width: 100px;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: bold;
    color:rgb(101, 72, 148);
    cursor: pointer;
    
}



.ordersta{
    display: flex;
    justify-content: center;
}