.first_card_set{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    justify-content: space-around;
    align-items: center;
}
.second_card_set{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3rem; 
}

.third_card_set{
    display: flex;
    justify-content: center;
    
    /* margin-top: 3rem;  */
}

.order_summary_card{
    box-shadow: var(--light-shadow);
    padding:0.5rem;
    border-radius: var(--radius-low);
    display: flex;
    flex-direction: column;
    width: 500px;
    cursor: pointer;
    border: 2px solid var(--clr-primary-7);
    /*height: 320px;*/
}

.order_summary_card2{
    box-shadow: var(--light-shadow);
    padding:0.5rem;
    border-radius: var(--radius-low);
    display: flex;
    flex-direction: column;
    width: 500px;
   
    cursor: pointer;
    border: 2px solid var(--clr-primary-7);
}

.head_card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.head_card2{
    margin-top: 0.5rem;
    text-align: center;

}
.stat{
    border: 2px solid var(--clr-primary-7);
    border-radius: var(--radius-low);
    padding: 0.3rem;
    color:#4CAF4F;
    font-weight: bold;
    background:  hsl(212, 33%, 89%);
}
.body_card{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-bottom: 1.5rem;
    
}
.orderNumber_cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.orderNumber_v{
    text-align: right;
}
.orderNumber_cont{
    border-bottom: 1px solid var(--clr-primary-7);
}

.upperbody_card{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.upperbody_img{
    height: 80px;
    width: 100px;
    border-radius: 50%;
}
.delivery_stage{
    box-shadow: var(--light-shadow);
    padding:0.5rem;
    border-radius: var(--radius-low);
    cursor: pointer;
    border: 2px solid var(--clr-primary-7);
    width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.delivery_sta{
    margin-top: 2rem;
}
.track{
    width: 400px;
   justify-content: center;
   margin-left: 1rem;
   
}

.placement{
    
    margin-top: 2rem;
    margin-left: 7.5rem;
}
#progress {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    text-align: center;
    position : relative;

  }

  #pogress li{
    
    width: 100px;

  }

  #progress li::before{
    content:'\2713';
    position: absolute;
    display: flex;
    justify-content:center;
    align-items: center;
    width: 50px;
    height: 50px;
    background:yellowgreen;
    color: aliceblue;
    border-radius: 50%;
    font-weight: bolder;
    z-index: 11111;

  }
  #progress li:last-child::before{
    content:'\2713';
    font-weight: bold;
    background:rgb(142, 205, 144);
  }

  #progress::before{
    content:'';
    top:20px;
    height: 10px;
    background: yellowgreen;
    margin-left: 35px;
    width: 60%;
    position: absolute;
    z-index: 111;
}

#progress::after{
    content:'';
    top:20px;
    height: 10px;
    background: rgb(142, 205, 144);
    width: 100%;
    position: absolute;
}

.lists{
    display: flex;
    gap: 3.3rem;
    flex-wrap: wrap;
    align-items: center;
}

.list{
    margin-top: 3.5rem;
    margin-left: 1.4rem;
    display: flex;
    gap: 0.2rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /*flex: 2 2 50px;*/
}

.list img{
    width: 30px;
    height: 30px;

}
.away1{
    margin-left: 0.7rem;
}
.away2{
    margin-left: 0.5em;
}

.delivery_agent_det{
    
    width: 400px;
}

.mycard_ad{
    box-shadow: var(--dark-shadow);
    padding:0.5rem;
    border-radius: var(--radius-low);
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    margin-top: 1rem;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
    width:1100px;
    height: 200px;
    border: 2px solid var(--clr-primary-7);
}
.mango{
    width:180px ;
    height: 180px;
}

.mango_img{
    width:180px ;
    height: 180px;
    border-radius:50%;
}




.productdes_ad{
    display: flex;
    flex-direction: column;
    margin-left:2rem ;
    justify-content: space-between;
   /* border: 2px solid red;*/
}
.productprice{
    opacity: 80%;
}

.history_container {
    padding: 1rem;
    border: 2px solid var(--clr-primary-7);
    border-radius: var(--radius-low);
    min-height: 40vh;
    max-height: 60vh;
    overflow-y: scroll;
    margin-bottom: 8rem;
    width: 1150px;
  }

  .seller_det{
    display: flex;
    flex-direction: row;
    width: 500px;
    justify-content: space-around;
    align-items: center;
    margin-left: 8rem;
  }

  .leftee{
    margin-left: 2.3rem;
  }

  .image_card{
    border: 2px solid var(--clr-primary-7);
    margin-top: 2rem;
    display: flex;
    flex-direction:column;
  }

  .img_check_size{
    height: 300px;
    width: 400px;
    border-radius:5px;
  }

  .deliver_img_cont{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  
  .deliver_pickup_img_container{
    margin-top: 1rem;
  }

  .deliver_handover_img_container{
    margin-top: 1rem;
  }

  .Quality_approve_btn_container{
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    align-self: center;
    justify-content: space-between;
    
    width: 500px;
  }

  .btn_no{
    background-color: #f44336;
    color: white;
    
}

.btn_no:hover{
    background-color: #ffa3a3;
    color: rgb(255, 9, 9);
}
