
/*  cart ================================= */

.cart-section{
 display: flex;
 justify-content: center;
 margin-top: 1rem;
 height: 80vh;
}
.cart_container{
 display: flex;
 flex-direction: column;
}
.cart_items_container{
   flex: 0.7;
   border:1px solid var(--clr-grey-8) ;
   border-radius: var(--radius-high);
   overflow-y: scroll;
   padding: 0.5rem;
 }
 .cart_item_cont{
   display: flex;
   flex-direction: column;
   padding: 0.5rem;
   border-bottom: 1px solid var(--clr-grey-8) ;
 }
 .item_desc_wrapper{
   display: flex;
   align-items: center;
 }
 
 .main_img{
   height: 70px;
   width: 70px;
   border-radius: var(--radius-high);
 }
 
 /* item description */
 .item_description{
   margin: 0.5rem 0.5rem;
 }
 .item_btns_cont{
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
  margin: 0rem 2rem;
  flex: 2;
 }
 .item_title_cont{
   /* margin: 0.5rem 0; */
   padding: 0.2rem 0;
   border-bottom: 1px solid var(--clr-grey-8);
   max-width: 30rem;
 }
 
.item_name{
 font-size: 0.9rem;
 color: var(--clr-grey-1);
 
}
.item_seller{
 font-size: 0.7rem;
 color: var(--clr-grey-3);
 /* letter-spacing: 1px; */
}
.item_seller>span{
 color: var(--clr-primary-4);
}
.item_address{
 color: var(--clr-primary-2);
 font-size: 0.6rem;
}


.item_price_cont{
 display: flex;
 justify-content: space-between;
 max-width: 15rem;
 color: var(--clr-grey-1);
 font-size: 0.8rem;
   padding-top: 0.3rem; 
 }
 .item_price_cont>p{
   color: var(--clr-grey-1);
   font-size: 0.9rem;
 }
 .item_price_cont p>span{
   color: var(--clr-grey-1);
   font-size: 0.6rem;
 }


.delete_btn{
 color: var(--clr-red-2);
 background: var(--clr-white);
 font-size: 0.8rem;
 border: none;
cursor: pointer;
}
.qty_btn_cont{
 flex: 0.3;
 display: flex;
 align-items: center;
 justify-content: space-evenly;
 background: var(--clr-primary-10);
 border-radius: var(--radius-high);
 width: 5rem;
 max-width: 10rem;
 box-shadow: var(--light-shadow);
}
.qty_btn_cont>input{
  font-size: 0.6rem;
}
.qty_btn_cont>button{
 background: none;
 border: none;
 color: var(--clr-grey-3);
 font-size: 1rem;
 padding: 0.5rem;
 cursor: pointer;
}
.qty{
  width: 90%;
  padding:0;
  margin: 0;
  background: transparent;
  color: var(--clr-grey-1);
  border: none;
  text-align: center;
}
.qty:focus{
  outline: none;
  border: none;
}

.qty::-webkit-inner-spin-button,
.qty::-webkit-outer-spin-button {
  appearance: none;
  margin: 0; 
}


.qty[type="number"] {
  -moz-appearance: textfield; 
  appearance: textfield;

}

.cart_price_container{
 flex: 0.3;
 margin: 1rem 0;
 padding: 1rem;
 border-radius: var(--radius-high);
 border: 1px solid var(--clr-grey-8);
}
.cart_price_title{
 padding: 0.3rem 0;
 border-bottom: 1px solid var(--clr-grey-8);
}
.subtotal{
 display: flex;
 align-items: center;
 justify-content: space-between;
 font-size: 0.9rem;
}
.delivery{
 display: flex;
 align-items: center;
 justify-content: space-between;
 font-size: 0.9rem;
}
.total{
 display: flex;
 align-items: center;
 justify-content: space-between;
 font-size: 1rem;
 font-weight: 500;
 color: var(--clr-grey-1); 
}

.value{
 color: var(--clr-grey-1); 
 font-weight: 500;
}
.total>p{
  color: var(--clr-grey-1); 
}
.checkout_btn_cont{
 display: flex;
 justify-content: center;
 align-items: center;
}

.checkout_btn{
 text-align: center;
 width: 100%;
 text-align: center;
 margin: 0.5rem 1rem;
 max-width: 20rem;
 background: var(--clr-primary-2);
}
.checkout_btn:hover{
  background: var(--clr-primary-7);
  color: var(--clr-primary-2);
}
.checkout_btn:hover i{
  transform: translateX(10px);
}


@media screen and (min-width :480px) {
 .cart_item_cont{
   flex-direction: row;
 }
 .item_btns_cont{
   flex-direction: column;
   justify-content: space-evenly;
  }

}
@media screen and (min-width :592px) {
  .item_name{
   font-size: 1rem;
  }
  .item_seller{
   font-size: 0.8rem;
   letter-spacing: 1px;
  }
  .item_address{
   font-size: 0.7rem;
  }
  .main_img{
   height: 100px;
   width: 100px;
 }
  
  .item_price_cont{
   font-size: 1rem;
     padding-top: 0.5rem; 
   }
   .item_price_cont>p{
     font-size: 1rem;
   }
   .item_price_cont p>span{
     font-size: 0.8rem;
   }
}

@media screen and ( min-width:768px) {
 .cart_container{
   flex-direction: row;
 }
 .cart_price_container{
   margin: 0 1rem;
 }
}
@media screen and ( min-width:992px) {
 .cart_container{
   width: 80%;
   margin: 0 auto;
 }
 .cart_price_container{
   margin: 0 1rem;
 }
}


.cart_img{
 height: 30vh;
 width: 30vh;
}
.empty_msg_cont{
 text-align: center;
 width: 60vw;
 height: calc(70vh - 6rem);
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}
/* @media screen and (min-width :360px) {
 .main_img{
   height: 280px;
   width: 280px;
 }
 .img_slider_cont{
   width:280px ;
 }
}




 */





/*  cart end ================================= */