
  /*
  =============== 
  Global Styles
  ===============
  */
  
  .card-title{

    font-size: 36px;
    font-weight: 500;
  }

  .card{
    display: flex;
    flex-direction: column;
  }

  .card-body{
    /* margin: 0.4rem 1rem; */
    padding: 2rem 0.4rem;
    align-items: center;
    text-align: center;
  }

  .main-container{
    margin: 2rem 0;
  }

  .info_col_1{
 
    text-align: left;
    flex: 0.5;
  }

  .btn{
    margin-top: 1rem;
  }

  .btn_red{
    background-color: var(--clr-red-2);
  }

  .btn_red:hover{
    color: var(--clr-red-2);
    background-color: rgb(251, 212, 212);
  }

  .info_col_2{
    
    text-align: left;
    flex: 0.5;
  }

  .more_details_btn{
margin-top:2rem ;
  width: 200px;  
 border: 1px solid transparent;
 padding: 0.7rem 1.5rem;
 border-radius: 6px;
 cursor: pointer;
 transition: 0.5s;
  }

  .more_details_btn:hover{
    background-color: var(--clr-primary-5);
    color: white;
    
  }

  .edit_btn, .dlt_btn{
    width: 200px; 
  }

  /* .card_img{
   
  } */
  
  img{
    width: 50%;
  }
.card_info{
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
 
  width: 70%;
}

  

  .hed{
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 30px;
  }

  .dlt_btn{
    border-radius: 10px;
    border: var(--clr-red-2) solid 2px;  
    font-size: 14px;
    margin: 0.5rem;
    word-spacing: 0%;
  }

  .dlt_btn:hover{
    background-color: var(--clr-red-1);
    color: white;
    
  }

  .edit_btn{
  border-radius: 10px;
  border: var(--clr-primary-3) solid 2px;
  font-size: 14px;
  margin: 0.5rem;
  }

  .edit_btn:hover{
    background-color: var(--clr-primary-3);
    color: white;
    
  }

  .card {
    box-shadow: 0 7px 10px rgba(33, 124, 33, 0.5); /* Green box-shadow */
    padding: 0.5rem;
    border-radius: var(--radius-low);
}

.card-subtitle{
  margin-top: -0.7rem;
}

.card-subtitle_1{
  font-size: 18px;
}

.card-subtitle_2{
  font-size: 18px;
}

.card-subtitle_3{
  font-size: 18px;
}

.card-subtitle_4{
  font-size: 18px;
}

.card-subtitle_5{
  font-size: 18px;
}
.card-subtitle_6{
  font-size: 18px;
}

.details{
  font-weight: 500;
}

.card_img{
   /* Set the desired height */
    object-fit: cover;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 4px 4px 8px var(--clr-primary-7);
}

/* .card-info{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;

  
} */

.info_heading{
  font-weight: 500;
  font-size: 20px;
}

input {
  color: black;
  letter-spacing: 0.02rem;
  padding: 0.45rem;
  border-radius: 20px;
  padding: 0.7rem;
  background-color: white;
  outline: none;
  border: 1px solid transparent;
  font-size: 14px;
}

.buttons{
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  
  
}

.more_details{
  margin-top: 0.5rem;
}


@media screen and (max-width:500px){

  .card-body{
    display: flex;
    flex-direction: column;
  }

  .card-title{
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 8px;
  }

  .card-subtitle_2{
    font-size: 12px;
  }
  .card-subtitle_1{
font-size: 12px;
  }
  .card-subtitle_3{
font-size: 12px;
  }
  .card-subtitle_4{
font-size: 12px;
  }
  .card-subtitle_5{
font-size: 12px;
  }
  .card-subtitle_6{
font-size: 12px;
  }

  .info_heading{
    font-size: 10px;
  }

  .btn{
    font-size: 10px;
    padding: 5px;
  }

  .btn_left{
    margin-right: 8px;
    width: max-content;
  }

  .btn_right{
    margin-right: 8px;
    width: max-content;
  }

  .buttons{
    
    width: max-content;
  }

}
 
  
  
  
  