:root {
    /* dark shades of primary color*/
    --clr-primary-1: #38803A;
    --clr-primary-2:#3E8E41;
    --clr-primary-3:#449C47;
    --clr-primary-4: #4BAA4E;
    /* primary/main color */
    /* --clr-primary-5: #D7FCDB; */
    --clr-primary-5: #4CAF4F;
    /* lighter shades of primary color */
    --clr-primary-6: #71C174;
    --clr-primary-7: #8ECD90;
    --clr-primary-8: #C6FBCB;
    --clr-primary-9: #D7FCDB;
    --clr-primary-10: #ECFEEE;
  
  
  /* Secondry color */
    --clr-secondry-1: #FFC933;
    --clr-secondry-2: #FFC31F;
    --clr-secondry-3: #FFBE0A;
    --clr-secondry-4: #F5B400;
    --clr-secondry-5: #E0A500;
  
  /* red color */
    --clr-red-1: #E42535;
    --clr-red-2: #E63946;
    --clr-red-3: #E94957;
  
    /* white color */
    --clr-white: #fff;
  
  
  
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 31%, 19%);
    --clr-grey-2: hsl(211, 28%, 26%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
  
  
  
    --font-primary:  'Nunito', sans-serif;;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --spacing-low: 0.15rem;
    --radius-high: 1rem;
    --radius-low: 0.5rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  /*
  ===============
  Global Styles
  ===============
  */
  
  
  .mycardd{
    box-shadow: var(--dark-shadow);
    padding:4rem;
    border-radius: var(--radius-low);
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    transition: box-shadow 0.3s ease-in-out;
    justify-content: space-around;
  
  }


  .left_side{
  display: flex;
  flex-direction: column;
  text-align: center;
  
  }
  
  .image_product{
  display: flex;
  justify-content: center;
  align-items: center;
  
  }
  
  .delivery_details{
  
   display: flex;
   flex-direction: column;
   font-size: medium;
   justify-content: center;
   margin: 1.5rem;
  }
    
  /* This is right side buttons--------------------------------- */
  
  .right_side{
    text-align: center;
  }

      .card_h{
        font-size: medium;
        font-weight: bold;
      }

      .num_complete{
        font-size: x-large;
        margin: 0.6rem;
        font-weight: bold;
      }

      .number_of_growth{
        color: var(--clr-primary-4);
        font-weight: bold;
        margin-bottom: 1rem ;
      }

      .square_card{
        box-shadow: var(--dark-shadow);
    padding:2rem 4rem;
    
    border-radius: var(--radius-low);
    display: flex;
    flex-direction: column;
    margin: 0rem 3rem;
    margin-bottom: 3rem;
    
      }

      .more_details_button{
        margin-top: 4rem;
        font-weight: bold;
          border: 2px solid #4BAA4E;
          border-radius: var(--radius-low);
          padding: 5px 18px;
          transition: 0.5s;
          
        
        
        }

        .more_details_button:hover{
  
          background-color: var(--clr-primary-7);
          border: none;

          
          }

.number_of_growth_red{
  color: var(--clr-red-2);
  font-weight: bold;
        margin-bottom: 1rem ;
}