:root {
    /* dark shades of primary color*/
    --clr-primary-1: #38803A;
    --clr-primary-2:#3E8E41;
    --clr-primary-3:#449C47;
    --clr-primary-4: #4BAA4E;
    /* primary/main color */
    /* --clr-primary-5: #D7FCDB; */
    --clr-primary-5: #4CAF4F;
    /* lighter shades of primary color */
    --clr-primary-6: #71C174;
    --clr-primary-7: #8ECD90;
    --clr-primary-8: #C6FBCB;
    --clr-primary-9: #D7FCDB;
    --clr-primary-10: #ECFEEE;


  /* Secondry color */
    --clr-secondry-1: #FFC933;
    --clr-secondry-2: #FFC31F;
    --clr-secondry-3: #FFBE0A;
    --clr-secondry-4: #F5B400;
    --clr-secondry-5: #E0A500;

  /* red color */
    --clr-red-1: #E42535;
    --clr-red-2: #E63946;
    --clr-red-3: #E94957;

    /* white color */
    --clr-white: #fff;



    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 31%, 19%);
    --clr-grey-2: hsl(211, 28%, 26%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);



    --font-primary:  'Nunito', sans-serif;;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --spacing-low: 0.15rem;
    --radius-high: 1rem;
    --radius-low: 0.5rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  /*
  ===============
  Global Styles
  ===============
  */


  .mycardd{
    box-shadow: var(--dark-shadow);
    padding:1rem 3rem;
    border-radius: var(--radius-low);
    display: flex;
    flex-direction: row;
    margin: 1rem;
    transition: box-shadow 0.3s ease-in-out;
    justify-content: space-between;

  }
  .picture{
    border-top: #bbbbbb 2px solid;
    width: 27rem;
    height: 16rem;
    border-radius: var(--radius-low);
    object-fit: cover;

}

.order_details_head{
  font-size: 2rem;
  font-weight: bold;
}

.order_details_sub{
  font-size: 1rem;
  font-weight: bold;
}

.order_seller_rating{
  font-size: 1.3rem;
  font-weight: bold;
}

.image_p{
    margin: 1rem 0;
}

.left{
    display: flex;
    flex-direction: column;
    
}

.right{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding-left: 5rem;
}

.delivery_details{

   display: flex;
   flex-direction: column;
   font-size: 1rem;
   justify-content: center;
   margin: 1.5rem;
   gap: 2.3rem;
   flex: 0.75;
}



.order_details_price{
    display: flex;
    align-items: center;
    text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  flex: 0.25;
  justify-content: center;
  border-bottom: #bbbbbb 2px solid;
}

.hed{
  font-size: 1.2rem;
  font-weight: bold;
}

.btn a{
  color: white;
}

.btn a:hover{
  color: var(--clr-primary-3);
}

@media screen and (max-width:500px){



.mycardd{
  display: flex;
  flex-direction: column;
}

.order_details_head{
  font-size: 20px;
}


.order_details_sub{
  font-size: 14px;
}

.picture{
  width: 280px;
  height: 170px;
}
.more_info{
  font-size: small;
  margin: 0.4rem;
}

.delivery_details{
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  justify-content: center;
  margin:5px;
  gap:0;
  flex: 0.75;
}
.order_details_price{
  font-size: 14px;
}

.right{

  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
}



.btn{margin-top: 6px;
  padding: 6px;
  font-size: 12px;
}

.my_button{
  text-align: center;
}






}