
/*
=============== 
Global Styles
===============
*/


.mycard{
  width: 300px; /* Adjust the width as needed */
  height: auto; /* Adjust the height as needed */
  border: 1px solid #ccc; /* Optional: Add border for visual separation */
  box-shadow: var(--dark-shadow);
  padding:1rem;
  border-radius: var(--radius-low);
  margin-top: 1rem;
  transition: box-shadow 0.3s ease-in-out;
  justify-content: space-between;  
  display: flex;
  flex-direction: column;
  border: #bbbbbb 1px solid;
  text-align: center;
}

.full_container{
 
  display: flex;
  padding: 1rem;
  flex-wrap: wrap;
    gap: 10px; 
 
}



.accept_order_btn{
  border: none;
  color: white;
  letter-spacing: var(--spacing-low);
  font-weight: bold;
  background-color: #4BAA4E;
  border-radius: var(--radius-high);
  padding: 0.5rem 0.8rem;
  transition: 0.5s;
}

.accept_order_btn:hover{  
  
  background-color: var(--clr-primary-8);
  border: none;
}


.picture{
  width:240px;
  height: 180px;
  border-radius: var(--radius-high);
  object-fit: cover;
}

.update_edit_bt{
  
  margin: 1rem;
  text-align: center;
  
}

.item_name{
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 8px;
}

.price{
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 8px;
  border-bottom: #bbbbbb 2px solid;
  padding-bottom: 0.5rem;
}

.accept_order_btn a{
  text-decoration: none;
  color: white;
  transition: 0.5s;
}



.accept_order_btn a:hover{
  color: var(--clr-primary-3);
  
  
}



 /* @media (max-width:768px){
  .mycardd{
    padding:0.1rem;
    border-radius: var(--radius-low);
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    transition: box-shadow 0.3s ease-in-out;
    justify-content: space-between;  
  } */

  

  

 /* .accept_order_btn{
    padding: 3px 12px;
    font-size: 0.74rem;
    align-items: center;
    justify-content: center;
  }

  .pro_name{
    font-size: 1.1rem;
  }
  .pro_location{
    font-size: 0.75rem;
  }

  .addDate{
    margin-top: 0.18rem;
    font-size: 0.65rem;
  }

}

@media (max-width:559px){

  .accept_order_btn{
    font-size: 0.65rem;
  }

  .accept_order_btn{
    padding: 2px 4px;
    font-size: 0.65rem;
    align-items: center;
    justify-content: center;
  }

}

@media (max-width:480px){

  .accept_order_btn{
    font-size: 0.5rem;
  }

  .accept_order_btn{
    padding: 2px 3px;
    font-size: 0.6rem;
    align-items: center;
    justify-content: center;
  }

  .pro_name{
    font-size: 0.9rem;
  }
  .pro_location{
    font-size: 0.65rem;
  }

  .addDate{
    margin-top: 0.18rem;
    font-size: 0.55rem;
  }

} */
.cardNo{
  margin: 2rem;
  width: 100%;
 
  display: flex;
  justify-content: center;

}

.buttonn {
  margin: 1rem;
  display: inline-block;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50; /* Green */
  color: white;
  transition: 0.3s;
}

.addVehicle{
  padding: 1rem 2rem;
  border-radius: 4rem;

}

/* Hover effect */


.btn{
  width: max-content;
  
}

.btn a{
  color: white;
}

.btn a:hover{
  color: #3b8c3f;
}

.price{
  font-size: 20px;
  font-weight: 700;
}

.button_section{
  
  display: flex;
  
  margin-top: 1rem;
  margin-left: 0.7rem;
}

.p_title{
  font-size: 22px;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.contact-info{
  font-size: 18px;
  border: var(--clr-primary-3) 1px solid;
  border-radius: 20px;
  margin-top: 1rem;
  display: none;
}

.noVehicleCard{
   
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: var(--dark-shadow);
  width: max-content;
  
  border-radius: 2rem;
  padding: 1rem;
}

.heading{
  font-size: 28px;
  font-weight: 800;
  
  
}

.govi{
  color: var(--clr-primary-4);
  font-weight: 900;
}

.nocard{
  box-shadow: var(--dark-shadow);
  padding:2rem;
  
  border-radius: var(--radius-low);
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  transition: box-shadow 0.3s ease-in-out;
  justify-content: center;
  align-items: center;
  
}