

  .card-title{
    font-size: 32px;
    font-weight: 500;
  }

  .card-body{
    /* margin: 2rem 2rem; */
    padding: 2rem;
    align-items: center;
    text-align: center;
    width: 30%;
    min-width: 230px;
  }

  .main-container{
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    gap: 1rem;
  
  }

  .profile{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;

  }
  .more_details_btn{
    margin-top:1rem ;
    background: var(--clr-primary-8);
 border: 1px solid transparent;
 padding: 0.7rem 1.5rem;
 border-radius: 6px;
 cursor: pointer;
 transition: 0.5s;
  }

  .more_details_btn:hover{
    background-color: var(--clr-primary-5);
    color: white;
    
  }

  .add_logo{
    margin-top: 0.3rem;
    font-size: 40px;
    color: var(--clr-primary-7);
    cursor: pointer;
    
  }
.add_logo>a{
  color: var(--clr-primary-7);
  transition: 0.5s;
}

.add_logo>a:hover{
  color: var(--clr-primary-4);
}
  .add_logo:hover{
    color: var(--clr-primary-4);

  }

  .card-subtitle_plus{
    font-size: 24px;
  }
  
  .vehicle_img{
    width: 250px; /* Set the desired width */
    height: 150px; /* Set the desired height */
    object-fit: cover;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 4px 4px 8px var(--clr-primary-7);
  }

  .subtitle_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

  /* add_logo{
    box-shadow: 4px 4px 8px var(--clr-primary-7);
  } */

  .info_heading{
    font-weight: 500;
  }

  .hed{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    font-size: 24px;
  }
  
  


 
  
  
  
  