:root {
    /* dark shades of primary color*/
    --clr-primary-1: #38803A;
    --clr-primary-2:#3E8E41;
    --clr-primary-3:#449C47;
    --clr-primary-4: #4BAA4E;
    /* primary/main color */
    /* --clr-primary-5: #D7FCDB; */
    --clr-primary-5: #4CAF4F;
    /* lighter shades of primary color */
    --clr-primary-6: #71C174;
    --clr-primary-7: #8ECD90;
    --clr-primary-8: #C6FBCB;
    --clr-primary-9: #D7FCDB;
    --clr-primary-10: #ECFEEE;
  
  
  /* Secondry color */
    --clr-secondry-1: #FFC933;
    --clr-secondry-2: #FFC31F;
    --clr-secondry-3: #FFBE0A;
    --clr-secondry-4: #F5B400;
    --clr-secondry-5: #E0A500;
  
  /* red color */
    --clr-red-1: #E42535;
    --clr-red-2: #E63946;
    --clr-red-3: #E94957;
    
    /* white color */
    --clr-white: #fff;
  
  
  
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 31%, 19%);
    --clr-grey-2: hsl(211, 28%, 26%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
  
  
  
    --font-primary:  'Nunito', sans-serif;;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --spacing-low: 0.15rem;
    --radius-high: 1rem;
    --radius-low: 0.5rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  /*
  =============== 
  Global Styles
  ===============
  */
  
  .card-title{
    font-size: 36px;
    font-weight: 500;
  }

  .card{
    display: flex;
  }

  .card-body{
    margin: 2rem 2rem;
    padding: 2rem 0.4rem;
    align-items: center;
    text-align: center;
  }

  .main-container{
    margin: 2rem 0;
  }

  .more_details_btn{
    margin-top:1rem ;
    
 border: 1px solid transparent;
 padding: 0.7rem 1.5rem;
 border-radius: 6px;
 cursor: pointer;
 transition: 0.5s;
  }

  .more_details_btn:hover{
    background-color: var(--clr-primary-5);
    color: white;
    font-size: 15px;
  }

  /* .card_img{
   
  } */
  
  img{
    width: 50%;
  }

  /* .card_info{

  } */

  .buttons{
  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    
  }

  .hed{
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 30px;
  }

  .dlt_btn{
    border-radius: 10px;
    border: var(--clr-red-2) solid 2px;
    transition: 0.5s;
    font-size: 16px;
  }

  .dlt_btn:hover{
    background-color: var(--clr-red-1);
    color: white;
    
  }

  .edit_btn{
  border-radius: 10px;
  border: var(--clr-primary-3) solid 2px;
  transition: 0.5s;
  font-size: 16px;
  }

  .edit_btn:hover{
    background-color: var(--clr-primary-3);
    color: white;
    
  }

  .card {
    box-shadow: 0 7px 10px rgba(33, 124, 33, 0.5); /* Green box-shadow */
    padding: 0.5rem;
    border-radius: var(--radius-low);
}

.card-subtitle_1{
  font-size: 18px;
}

.card-subtitle_2{
  font-size: 18px;
}

.card-subtitle_3{
  font-size: 18px;
}

.card-subtitle_4{
  font-size: 18px;
}

.card-subtitle_5{
  font-size: 18px;
}

.details{
  font-weight: 500;
}

 
  
  
  
  