/* navbar changes======================= */

.navbar_cont{
  background-color: transparent;
  position: fixed;
  box-shadow: none;
  backdrop-filter: blur(2px);
  transition:var(--transition);
}
.navbar_background{
  background: var(--clr-primary-10);
  box-shadow: var(--dark-shadow);
}
.navbar_hide{
  transform: translateY(-200px);
  opacity: 0;
}



.navlink>a{
  color:  var(--clr-grey-10);
  font-weight: 500;
  font-size: 1.2rem;
}
.navlink_d>a{
  color:  var(--clr-grey-5);
  font-weight: 500;
  font-size: 1.2rem;
}

/* .navlink>a:hover{
  color:  var(--clr-grey-3);
  text-decoration: none;
} */

.navlink{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;
  border-radius: var(--radius-low);
  background: transparent;
  transition: var(--transition);
}
.navlink:hover{
  background: #ffffff30;
}
.navlink:hover a{
  color:  var(--clr-grey-3);
  text-decoration: none;
}
.signin_link_d:hover{
  /* background: var(--clr-primary-9); */
  color: var(--clr-grey-10);
  border: 2px solid var(--clr-grey-9);
}


.nav_img_cont_seller{
  flex: 0.6;
}
.nav_links_cont_seller{
  flex: 0.2;
  /* border: 2px solid red; */
}
.seller_btns_cont{
  flex: 0.2;
  display: flex;
  align-items: center;
  /* justify-content: flex-end; */
  padding: 0.2rem;
}
.seller_btns{
  padding-left: 0.2rem;
  height: 1rem;
  letter-spacing: var(--spacing-low);
  transition: var(--transition);
  border-left: 10px solid transparent;
  position: relative;
}
.seller_btns>a{
  font-size: 0.7rem;
  text-align: center;
  color: var(--clr-grey-1);
  /* color:red; */
}
.seller_icon{
  font-size: 1.7rem;
  margin:0 0.3rem;
}




/* navbar changes end======================= */







/* mainlogo========================= */

.logo_cont{
 display: flex;
 justify-content:space-around;
 height: 80vh;
}

.main_logo_cont{
 display: flex;
 flex-direction: column;
 align-items: center;
 text-align: center;
}
.main_logo{
 width: 40rem !important;
 /* height: 200px; */
}
/* .logo_btn_cont{
 flex: 0.5;
 border: 2px solid red;
} */
.logo_btn{
padding: 1rem;
margin: 0 0.6rem;
width: 10rem;
font-size: 1rem;
text-align: center;
}

.logo_img_cont{
 flex: 0.2;
}
.img_farmer{
 height: 90vh;
}


@media  screen and (max-width:992px) {
 .main_logo{
   width: 30rem !important;
 }

 .img_farmer{
   height: 80vh;
 }

}
@media  screen and (max-width:768px) {
 /* .logo_img_cont{
   display: none;
 } */
 .img_farmer{
   height: 70vh;
 }
 .main_logo{
   width: 20rem !important;
 }
 .logo_btn{
   padding: 0.3rem;
   margin: 0 0.2rem;
   width: 6.5rem;
   font-size: 0.8rem;
   }
   .logo_cont{
     height: 70vh;
   }

}
@media  screen and (max-width:600px) {
 .logo_cont{
   height: 60vh;
 }
 .img_farmer{
   height: 60vh;
   width: 13rem;
 }
 .main_logo{
   width: 15rem !important;
 }
 .logo_text-cont{
   flex:0.9;
 }
 .logo_img_cont{
   flex: 0.1;
 }
 .logo_btn{
   padding: 0.3rem;
   margin: 0 0.1rem;
   width: 6rem;
   font-size: 0.6rem;
   }

}
@media  screen and (max-width:480px) {
 .logo_cont{
   height: 50vh;
 }
 .img_farmer{
   height: 40vh;
   width: 9rem;
 }
}
@media  screen and (max-width:400px) {
 .logo_img_cont{
   display: none;
 }

}



/* mainlogo end========================= */

/* Registartion ========================= */

.registration_cont{
 background: var(--clr-white);
}

.reg_title{
  margin-top: 5rem;
 text-align: center;
 margin-bottom: 2rem;
}

.users_cont{
 display: flex;
 justify-content: space-around;
 align-items: center;
 margin-bottom: 5rem;
}

.user{
 display: flex;
 flex-direction: column;
 align-items: center;
 border-radius: var(--radius-high);
 padding: 2rem;
 width: 20rem;
 height:20rem;
}
.user_img{
 width: 10rem;
 height:10rem;
}
.user:hover{
 box-shadow: var(--light-shadow);
}


@media  screen and (max-width:768px) {
 .user{
   padding: 1rem;
   width: 15rem;
   height:15rem;
 }
 .user_img{
   width: 8rem;
   height:8rem;
 }
}
@media  screen and (max-width:600px) {
 .user{
   padding: 1rem;
   width: 12rem;
   height:12rem;
 }
 .user_img{
   width: 6rem;
   height:6rem;
 }
}
@media  screen and (max-width:480px) {
 .user{
   padding: 0.5rem;
   width: 8rem;
   height:8rem;
 }
 .user_img{
   width: 5rem;
   height:5rem;
 }
 .users_cont{
   flex-wrap: wrap;
   gap: 0.8rem;
 }
}

/* Registartion end  ==================== */
/* categories ========================= */

.categories_cont{
 background: var(--clr-white);
 padding: 8rem 0;
 width: 100vw;
}

.cat_title{
 text-align: center;
 margin-bottom: 2rem;
}

.cat_cont{
 display: flex;
 justify-content: space-around;
 align-items: center;
 /* border: 2px solid red; */
}

.cat{
 display: flex;
 flex-direction: column;
 align-items: center;
 border-radius: var(--radius-high);
 padding: 1rem;
 transition: var(--transition);
 width: 18rem !important;
 height:18rem;
 /* border: 2px solid blue; */
}
.cat:hover{
 box-shadow: var(--light-shadow);
}
.cat:hover .cat_img{
 box-shadow: 0px 10px 0px rgba(0,0,0,0.1);
}

.cat_img{
 width:12rem;
 height: 12rem;
 border-radius:50% ;
 box-shadow: 0px 3px 0px rgba(0,0,0,0.1);
 transition: var(--transition);
}


@media  screen and (max-width:992px) {
 .cat_cont{
   flex-wrap: wrap;
   gap: 2rem;
 }
 .cat{
   flex:1;
   flex-basis: 45%;
 }
 .cat_img{
   width:13rem;
   height: 13rem;
 } 
}

/* categories end  ==================== */
/* features ========================= */

.features_cont{
 /* padding: 5rem 0; */
 background: var(--clr-white);
 width: 100vw;
}

.features_title{
  margin-top: 0 0;
 text-align: center;
 margin-bottom: 2rem;
}
.feature_cont{
 display: flex;
 justify-content: space-around;
 align-items: center;
}

.feature{
 display: flex;
 flex-direction: column;
 align-items: center;
 border-radius: var(--radius-high);
 padding: 2rem;
 transition: var(--transition);
 /* width: 20rem;
 height:20rem; */
}
/* .feature:hover{
 box-shadow: var(--light-shadow);
}
.feature:hover .feature_img{
 box-shadow: 0px 10px 0px rgba(0,0,0,0.1);
} */

.feature_img{
 width:10rem;
 height: 10rem;
 padding: 1rem;
 border-radius:var(--radius-high);
 box-shadow: var(--light-shadow);
 /* transition: var(--transition); */
}


@media  screen and (max-width:992px) {
 .features_cont{
   margin: 0 0;
 }

 .feature_cont{
   flex-wrap: wrap;
 }
 /* .feature{
   padding: 0.5rem;
 } */
 .feature_img{
   width:7rem;
   height: 7rem;
   padding: 0.5rem;
 }
}


@media  screen and (max-width:768px) {

 .feature{
   flex: 1;
   flex-basis: 45%;
 }
 .feature_img{
   width:10rem;
   height: 10rem;
   padding: 0.5rem;
 }
}
@media  screen and (max-width:596px) {

 .feature_img{
   width:7rem;
   height: 7rem;
   padding: 0.5rem;
 }
}

/* features end  ==================== */





/* landing ======================================== */



.landing_img_cont{
  position: relative;
  width: 100vw;
  height: 100vh;
  max-height: 1180px;
  /* transition: var(--transition); */
}


.landing_img{
position: fixed;
z-index: -1000;
  width: 100vw;
  object-fit: cover;
  object-position: center;
  height: 100%;
  max-height: 1180px;
  visibility: hidden;
  opacity: 0.5;
  transition: opacity 2.5s ease-in,visibility 2.5s ease-in,width 0s ease-in;

}

.landing_show{
  visibility: visible;
  opacity: 1;
}
.landing_overlay{
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(125, 181, 126, 0.8),rgba(60, 67, 34, 0.29), rgba(6, 49, 7, 0.5));
  width: 100vw;
  height: 100%;

}


.landing_container{
  position: absolute;
  top: 5rem;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: calc(100% - 5rem);
}
.logo_text-cont{
  flex: 0.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 5rem; */
  padding: 3rem;
  /* border: 2px solid red; */
}

.landing_icon_cont{
  flex: 0.4;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon_cont{
  border :2px solid transparent;
  margin: 0.5rem;
  /* padding: 2rem; */
  height:5rem;
  width: 5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
  /* border: 2px solid blue; */
}
.landing_icon{
  font-size: 1.1rem;
  color: var(--clr-white);
  /* padding: 1rem; */
  border-radius: 50%;
  transition: var(--transition);
  border :2px solid var(--clr-white);
  background: rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.signin_icon{
  padding: 0.55rem;
}

.landing_icon>span{
  /* padding: 1rem; */
    width: 3.2rem;
  height: 3.2rem;
}
.landing_icon>i{
  padding: 1.1rem 0.9rem;
  font-size: 2rem;
}

.icon_cont:hover{
  border :2px solid  var(--clr-white);
  box-shadow: 1px 2px 5px 4px rgba(200,200,200,0.5);
  background: rgba(0,0,0,0.5);
}
.icon_cont:hover .landing_icon{
  border :2px solid  transparent;
  background: rgba(0,0,0,0);
  transform: translateY(1px);
}

.logged_icon_cont{
  border :2px solid transparent;
  padding: 1rem;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
}
.logged_icon{
  display: flex;
  align-items: center;
  justify-content: center;
  
  font-size: 0.7rem;
  color: var(--clr-white);
  text-align: center;
  padding: 1rem;
  min-width: 5rem;
  max-width: 7rem;
  height: 5rem;
  border-radius: 100%;
  transition: var(--transition);
  border :2px solid var(--clr-white);
  background: rgba(0,0,0,0.2);
  overflow: hidden;
}
.logged_icon>span{
  max-width: var(7rem-1rem);
  overflow: hidden;
}

.logged_icon_cont:hover{
  border :2px solid  var(--clr-white);
  box-shadow: 1px 2px 5px 5px rgba(200,200,200,0.5);
  background: rgba(0,0,0,0.5);
}
.logged_icon_cont:hover .logged_icon{
  border :2px solid  transparent;
  background: rgba(0,0,0,0);
}

.cap_1{
  font-family:var(--font-secondry);
  color: var(--clr-primary-10);
  backdrop-filter: blur(1px);
}
.cap_2{
  font-size: 1rem;
  color: var(--clr-primary-10);
  padding: 1rem;
  backdrop-filter: blur(1px);
}

@media screen and (max-width:592px) {
  .landing_container{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .landing_icon_cont{
    flex: 0.2;
    flex-direction:row;
    align-items: center;
  }
  
  .logo_text-cont{
    flex: 0.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .icon_cont{
    height:4.5rem;
    width: 4.5rem;
    border-radius: 50%;
  }
  .landing_icon{
    font-size: 0.9rem;
    border-radius: 50%;
  }
  .signin_icon{
    padding: 0.5rem;
  }
  
  .landing_icon>span{
    /* padding: 1rem; */
      width: 2.5rem;
    height: 2.5rem;
  }
  .landing_icon>i{
    padding: 1.15rem 0.98rem;
    font-size: 1.4rem;
  }


 
  .logged_icon_cont{
    padding: 1rem;
    height: 5.2rem;
    width: 5.2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
  }
  .logged_icon{
    font-size: 0.6rem;
    padding: 1rem;
    min-width: 4rem;
    max-width: 6rem;
    height: 4rem;
    border-radius: 100%;
  }
  
  .logged_icon_cont:hover{
    border :2px solid  var(--clr-white);
    box-shadow: 1px 2px 5px 5px rgba(200,200,200,0.5);
    background: rgba(0,0,0,0.5);
  }
  .logged_icon_cont:hover .logged_icon{
    border :2px solid  transparent;
    background: rgba(0,0,0,0);
  }
  
}


/* search bar=================== */
.searchbar_cont{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  width: 60%;
  max-width: 500px;
 }
 .searchbar{
  border-radius:40px ;
  /* background: var(--clr-primary-10); */
  background: rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid var(--clr-primary-10);
  padding: 0.3rem;
  width: 100%;
  /* box-shadow: 1px 5px 20px 1px rgba(142, 205, 144,0.5); */
 }
 .search{
  background: transparent;
  border:none ;
  width: 100%;
  color: var(--clr-white);
  font-size: 1rem;
 }
 .search::placeholder{
  font-size:0.8rem ;
  color: var(--clr-white);
  font-weight: 500;
  overflow:hidden;
 }
 .search:focus{
  border:none ;
 }
 .search_icon{
  background: var(--clr-primary-5);
  border-radius: 35px;
  padding: 0.7rem;
  margin-right: 0.5rem;
 }
 
 @media  screen and (max-width:768px) {
  .search::placeholder{
    font-size:0.6rem ;
    overflow:hidden;
  }
 }
 
 /* search bar end=================== */





/* landing end======================================== */





