

.login{
 display: flex;
 flex-direction: row;

 margin-top: 5rem;
 justify-content: space-around;

}
.navbar2{
 background-color: var(--clr-primary-9);
 box-shadow: var(--light-shadow);
 grid-area:navbar2;
 height: 4rem;
 display: flex;
 width: 100vw;
 position: fixed;
 z-index: 2;
 top: 0;
 left: 0;
 justify-content: space-between;
 
  
}
.navimg{
 margin-left: 2rem;
display:flex;

}
.navbuttons{
 display: flex;
}
.navbuttons ul {
 align-items: center;
 display: flex;
 margin-left: 35rem;
}

.navbuttons li{
 padding: 0 40px;
 height: 60px;
 align-items: center;
 display: flex;
 justify-content: center;
 border-radius: 5px;
 
}

.navbuttons ul li:hover{
 background:var(--clr-primary-5);
 align-items: center;
 color: var(--clr-white);
}

.navbuttons2{
 display: flex;
}
.navbuttons2 ul {
 align-items: center;
 display: flex;
 
 /*margin-left: 6rem;*/
}

.navbuttons2 li{
 padding: 0 40px;
 height: 60px;
 align-items: center;
 display: flex;
 justify-content: center;
 border-radius: 5px;
 
}

.navbuttons2 ul li:hover{
 background:var(--clr-primary-5);
 align-items: center;
 color: var(--clr-white);
}

.loginimg_container{

 display: flex;
}

.loginimg{
   display:flex;

  height:500px;
   width:600px;
}
.form_container{

display: flex;

flex-direction: column;



}

.formimg{
 display:flex;
 justify-content: center;
}

.formimg img{
 height: 100px;
 width: 300px;
}

.formimgtext{
 display: flex;
 text-align: center;
 justify-content: center;
 /*margin-left: 2rem;*/
 font-weight: bold;
 font-size: small;
}


.email p{
 font-style: var(--clr-grey-1);
 font-size: medium;
}
.email_box{
 background: var(--clr-primary-8);
 width:330px;
 /*height: 50px;*/
 border-color: var(--clr-primary-1);
}



.forgot{
 display: flex;
 color: var(--clr-primary-4);
 justify-content: center;
 font-weight: bold;
 text-align: center;
 }

 .loginbt{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
 }

 .lgbtn{
  display: flex;
   /*padding: 1rem;
   width:150px;*/
   width: 100px;
   justify-content: center;

  
 }

.formcontent{
 display: flex;
 flex-direction: row;
 justify-content:space-around;
 margin-top: 7rem;
}

.formcontent form{
  display:flex ;
  flex-direction: column;
  
}

.regform{
  display: flex;
  flex-direction: column;
}

.regimg{
 
 display: flex;
 flex-direction: column;
 align-items: center;
}
.regimg p{
 font-style: var(--clr-grey-1);
 font-weight: bold;
 font-size: large;
}
.cont1_cont2{
  display:flex ;
  flex-direction: row;
 
}
.cont1{
 /*background-color: #71C174;*/
 display: flex;
 flex-direction: column;
 
}
.cont2{
 /*background-color: #E0A500;*/
 /*justify-content: center;*/
 display: flex;
 flex-direction: column;
 margin-left: 2rem;
}

.regimg img{
 width: 560px;
 height: 460px;
}

.districtbox{
 background: var(--clr-primary-8);
 width:330px;
 /*height: 50px;*/
 border-color: var(--clr-primary-1);
 border-radius: 20px;
 letter-spacing: var(--spacing-low);
 padding: 0.7rem;
 color: var(--clr-grey-3);
 text-transform: uppercase;
 /*padding: 1rem;*/
 }

 

.districtbox option{
   text-transform: uppercase;
   padding: 1rem;
   border: transparent;
   border-radius: 10px;
}

.labelletters{
 font-style: var(--clr-grey-1);
 font-size: medium;
}

.regbt{
  display: flex;
  width:200px;
  height: 50px;
  margin-left: 240px;
  margin-top: 2rem;
  
}

.regbt button{
  width:200px;
  height: 50px;
}

 .Sellersidebar{
  position:fixed;
  left: 0;
  top:0;
  width: 15rem;
  height: 100vh;
  background: var(--clr-primary-9);
  box-shadow: var(--dark-shadow);
  z-index: 1;
}

.side_cont{
  margin-top: 4rem;
}

 

 .Sellersidebar ul li{
   padding: 18px;
   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
   border-top: 1px solid rgba(0, 0, 0, 0.2);
   
 }

 .Sellersidebar ul li:hover{
   background:var(--clr-primary-5);
 
   }

 .Sellersidebar ul li:hover a{
  color:var(--clr-white);
 }

 .Sellersidebar ul li.active {
  background: var(--clr-primary-5);
}

.Sellersidebar ul li.active a {
  color: var(--clr-white);
}

.profile{
   
   display:flex;
   margin-left: 18rem;
   margin-top: 5.5rem;
   flex-direction: column;
   margin-bottom: 3rem;
   
   
 }
.maincontent{
 display: flex;
}

.profilecont{
 background-color: var(--clr-primary-8);
 border-radius: 20px;
 box-shadow: var(--light-shadow);
 height: 100px;
 width: 600px;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content:space-around;

}

.personaldetails{
 display: flex;
 flex-direction: column;
}

.det{
 width: 450px;
 height: 50px;
 background: var(--clr-primary-8);
}

.infor{
 display: flex;
 flex-direction:row ;
 align-items: center;
 width: 600px;
 justify-content:space-between;

}

.auction{
 height: 20px;
 width: 20px;
 align-items: center;
}
.editprofile{
 display: flex;
 margin-left: 14rem;
 height: 40px;
 align-items: center;

}

.profile-logo {
 /*position: relative;*/
 width: 150px;
 height: 150px;
 margin: 5rem auto;
 border: 2px solid --clr-primary-10;
 border-radius: 50%;
 overflow: hidden;
 
}
.profile-logo-medium {
 width: 50px;
 height: 50px;
 border: 2px solid --clr-primary-10;
 border-radius: 50%;
/* overflow: hidden;*/
}

.profile-logo-small{
 width: 25px;
 height: 25px;
}

.newbt{
 background: var(--clr-primary-4);
 border-radius: 10px;
 color: var(--clr-primary-10);
 height: 25px;
 width: 150px;
 border: 2px #4BAA4E;
 cursor: pointer;
 
}
.newbt:hover{
 color: var(--clr-grey-1);
 background: var(--clr-primary-6);
}

.image-label {
 display: block;
 width: 100%;
 height: 100%;
 cursor: pointer;
}

#profile-image {
width: 100%;
 height: 100%;
 object-fit: cover;
}

.overlay {
 position: absolute;
 top: 5rem;
 left:2.9rem;
 width: 150px;
 height: 150px;
 border-radius: 50%;
 background-color: rgba(0, 0, 0, 0.5);
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 opacity: 0;
 transition: opacity 0.2s ease-in-out;
}

.image-label:hover .overlay {
 opacity: 1;
}

.overlay span {
 color: white;
 font-size: 14px;
}

#image-upload {
 display: none;
}

#delete-image {
 margin-top: 10px;
 padding: 5px 10px;
 background-color:red;
 color: white;
 border: none;
 border-radius: 5px;
 cursor: pointer;
}

#delete-image:hover {
 background-color: #cc0000;
}





/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */







/* login Register========================== */

.login_section{
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc( 100vh - 5rem);
  background: linear-gradient(to left,rgba(62, 151, 65, 0.659),#5ccc2c86,rgba(98, 243, 14, 0.262),rgba(109, 176, 112, 0.455)),url(../images/login.jpg) center/cover;
  /* background: linear-gradient(to left,rgba(0,0,0,1),rgba(255,255,255,1)); */
  backdrop-filter: blur(10px);
 }
 
  .login_registration{
    /* box-shadow: var(--light-shadow); */
    box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.3);
    display: flex;
    border-radius: var(--radius-high);
    /* background: var(--clr-grey-1); */
    width: 60vw;
    min-width: 700px;
  }
  .image_cont{
    flex: 0.6;
    padding: 1rem;
    /* width: 30vw; */
    border-top-left-radius: var(--radius-high);
    border-bottom-left-radius: var(--radius-high);
    background: linear-gradient(rgba(7, 60, 134, 0.448),rgba(179, 215, 179, 0.5),rgba(53, 104, 53, 0.5)),url(../images/login.jpg) center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .login_img{
    height: 60vh;
  }
  .form_cont{
    position: relative;
    flex: 0.4;
    margin-left: -1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding:5rem 2rem;
  border-radius: var(--radius-high);
  background: var(--clr-white);
 }
 .loader_cont{
  position: absolute;
 background: rgba(40, 53, 41, 0.3);
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  display:none;
}


.loader{
  /* position: fixed; */
  display: flex;
  width: 100%;
  height: 100%;
  background:none;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
 }
 .loader::after{
  content: '';
  width: 15px;
  height: 15px;
  border: 5px solid white;
  border-top-color: var(--clr-primary-6);
  border-radius: 50%;
  animation:loading 0.8s ease infinite ;
  transition: all 0.3 ease-in;
  box-shadow: 1px 2px 10px rgba(5, 112, 234, 0.336) ;
 }
 .loader_show{
  display: flex;
}
@keyframes loading{
  from {transform: rotate(0turn);}
  to {transform: rotate(1turn);}
 }


 .form_img{
  width: 20vw;
  backdrop-filter: blur(0.5px);
 }
.form_text{
  color: var(--clr-grey-3);
  font-size: 0.9rem;
  font-weight: 600;

  text-align: center;
}
.img_cont{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
 
 .input_cont{
  display: flex;
  flex-direction: column;
  margin: 0.3rem;
  width: 18rem;
 }
 .input_item{
  margin: 0.3rem;
  border-radius: var(--radius-low);
  border: 1px solid var(--clr-primary-8);
 }
 .input_item:focus{
  border: 1px solid var(--clr-primary-7);
 }
 .input_label{
  font-size: 0.9rem;
  color: var(--clr-grey-3);
 }
 .title{
  color: var(--clr-primary-9);
  font-size: 2rem;
 }.title>span{
  
  color: var(--clr-primary-7);
 }
 .text_cont{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 }
 .text_cont>ul{
  margin: 2rem 0;
 }
 .list_item{
  color: var(--clr-white);
  padding: 0.3rem;
 }
 .list_item>span{
  margin-right: 0.5rem;
  color: var(--clr-secondry-4);
 }
 .btn_cont{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
 
 }
 .btn_cont>button{
  letter-spacing: 2px;
  padding: 0.5rem;
  border-radius: var(--radius-low);
 }
 .form_title_cont{
  margin-bottom: 0.5rem;
  display: none;
 }
 .form_title{
  color:var(--clr-primary-2);
  
 }
 .form_title>span{
  color:var(--clr-primary-6);
 }
 .verify_title{
  display: block;
  padding: 0.5rem 2rem;
  font-size: 0.9rem;
  letter-spacing: 1px;
 }
 .invalid{
   border: 1px solid var(--clr-red-1);
   background: rgba(255, 198, 190, 0.474);
 }
 .invalid:focus{
   border: 1px solid var(--clr-red-3);
   background: rgba(255, 231, 191, 0.474);
 }
 .invalid_msg{
   color: var(--clr-red-3);
   font-size: 0.7rem;
   letter-spacing: 1px;
   margin-left: 5px;
   display: inline-block;
   height: 15px;
 }
 .forgot_password{
  font-size: 0.8rem;
  color: var(--clr-primary-1);
  text-align: center;
  
 }

 .create_acc{
  font-size: 0.7rem;
  text-align: center;
 }
 .create_acc>a{
  font-size: 0.9rem;
  color: var(--clr-primary-2);
 }
 
 
 
 @media screen and (max-width:768px) {
 
  .login_registration{
    min-width:60px;
    width: 80%;
  }
  .image_cont{
    flex: 0.5;
  }
  .form_cont{
    flex: 0.5;
    margin-left: -1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:2rem 0.5rem;
  border-radius: var(--radius-high);
  background: var(--clr-white);
 }
  .input_cont{
    margin: 0.5rem;
    width: 100%;
    /* border: 2px solid red; */
  }
  .input_item{
    font-size: 0.7rem;
    margin: 0.3rem;
  }
  .input_label{
    font-size: 0.8rem;
    color: var(--clr-grey-3);
  }
  .verify_title{
    display: block;
   }
  
 }
 
 
 @media screen and (max-width:668px) {
  .form_title_cont{
    display: block;
  }
  .login_registration{
    width: auto;
  }
  .image_cont{
    display: none;
  }
  .form_cont{
    flex: 1;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
    min-width: 300px;
    margin-left: 0;
  }
  .input_cont{
    /* width: 100%; */
    /* max-width:auto ; */
    width: 100%;
    flex: 1;
  }
  .input_item{
    font-size: 0.7rem;
  }
  .verify_title{
    display: block;
   }
 }
 
 
 
 /* login Register end========================== */