/*
=============== 
Fonts
===============
*/
  @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Courgette&family=Nunito&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');



/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: #38803A;
  --clr-primary-2:#3E8E41;
  --clr-primary-3:#449C47;
  --clr-primary-4: rgb(75, 170, 78);
  /* primary/main color */
  /* --clr-primary-5: #D7FCDB; */
  --clr-primary-5: #4CAF4F;
  /* lighter shades of primary color */
  --clr-primary-6: rgb(113, 193, 116);
  --clr-primary-7: rgb(142, 205, 144);
  --clr-primary-8: #C6FBCB;
  --clr-primary-9: rgb(215, 252, 219);
  --clr-primary-10: #ECFEEE;


/* Secondry color */
  --clr-secondry-1: #FFC933;
  --clr-secondry-2: rgb(255, 195, 31);
  --clr-secondry-3: #FFBE0A;
  --clr-secondry-4: #F5B400;
  --clr-secondry-5: #E0A500;

/* red color */
  --clr-red-1: #E42535;
  --clr-red-2: #E63946;
  --clr-red-3: #E94957;
  
  /* white color */
  --clr-white: #fff;



  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 31%, 19%);
  --clr-grey-2: hsl(211, 28%, 26%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);



  /* --font-primary:  'Nunito', sans-serif; */
  --font-primary:  'Lato', sans-serif;
  --font-secondry:  'Courgette', cursive;;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --spacing-low: 0.15rem;
  --radius-high: 1rem;
  --radius-low: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
/*
=============== 
Global Styles
===============
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 2px solid red; */
}   

body {
  font-family: var(--font-primary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;

}

::-webkit-scrollbar {
  max-width: 12px;
  max-height: 12px;
}

::-webkit-scrollbar-track {
  background:transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--clr-grey-9);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--clr-primary-7);
}




ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/* img {
  width: 100%;
  display: block;
} */


h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  /* margin-bottom: 1.25rem; */
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
@media screen and (max-width:500px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 0.8rem;
  }
  body {
    font-size: 0.7rem;
  }
  p {
    font-size: 0.7rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn {
  /* text-transform: uppercase; */
  background: var(--clr-primary-5);
  color: var(--clr-white);
  padding: 0.45rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-family:var(--font-primary);
  /* font-weight: 700; */
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  border-radius:var(--radius-high);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-8);
}

.btn:active {
  color: var(--clr-primary-1);
  background: var(--clr-primary-8);
  transform: translateZ(-1px);
}

.btn_box{
  border-radius: 5px;
  
}

.section{
  padding: 5rem 0;
}
.section-title{
  text-align: center;
  margin-bottom: 4rem;
}
.section-title h2{
  text-transform: uppercase;
}
.section-title span{
  color: var(--clr-primary-5);
}
.section-center{
  width: 90vw;
  margin: 0 auto;
  max-width: 1920px;
}
@media  screen and(min-width:992px){
  .section-center{
    width: 95vw;
  }
}




input{
  color: var(--clr-grey-3);
  letter-spacing: var(--spacing-low);
  padding: 0.45rem;
  border-radius: 20px;
  padding: 0.7rem;
  background: var(--clr-primary-10);
  outline: none;
  border: 1px solid transparent;
}

input::placeholder{
  text-transform: uppercase;
  padding: 1rem;
  border: transparent;
}
input:focus{
  border: 1px solid var(--clr-primary-5);
}

.input_label{
  text-transform: capitalize;
  color: var(--clr-grey-2);
  margin-right: 0.7rem;
}

.card{
  box-shadow: var(--light-shadow);
  padding:0.5rem;
  border-radius: var(--radius-low);
}


.text{
  font-size: 2rem;
}


.btn_cont{
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-section{
  position: relative;
  top:0;
  left:200px;
  margin-top: 2rem;
}

.title_cont{
  position: relative;
  left:200px;
  width: calc( 100vw - 250px);
  color: var(--clr-primary-5);
}
.title_cont p{
  color: var(--clr-red-2);
  font-size: 0.8rem;
}
.color{
  color: var(--clr-primary-1);
}
.conta{
  height: 10rem;
}

/* Landing Page=================================================== */
/* Navbar======== */

.navbar_cont{
  background-color: var(--clr-primary-9);
  min-height: 4rem;
  box-shadow: var(--light-shadow);
  z-index: 100;
  width: 100vw;
  display: flex;
  align-items: center;
}
.navbar{
  display: flex;
  align-items: center;
  width: 90vw;
  margin: 0 auto;
max-width: 1920px;
}
.nav_img_cont{
  display: flex;
  justify-content: space-between;
flex: 0.9;
width: 95vw;
margin: auto;
}
.nav_img_cont_lg{
  display: flex;
  justify-content: space-between;
width: 95vw;
margin: auto;
}
.nav_img{
  width: 100px;
}
.navlinks_cont{
  flex: 0.5;
  display: none;
}
.navlinks{
  transition: var(--transition);
  justify-content: space-around;
  align-items: center;
  width: 100%;
  display: flex; 
}
.show_links{
  height: auto;
  transition: var(--transition);
}

.navlink{
  padding-left: 1rem;
  height: 2rem;
  letter-spacing: var(--spacing-low);
  transition: var(--transition);
  border-left: 10px solid transparent;
  position: relative;
}

.navlink>a:hover{
  color:  var(--clr-secondry-1);
  text-decoration: underline;
}

.navlink>a{
  color:  var(--clr-grey-2);
  transition: var(--transition);
  display: inline-block;
}


.nav_btn{
border-radius:var(--radius-low) ;
box-shadow: none;
margin-left: 2rem;
padding: 0.2rem;
}
.nav_btn:hover{
background: var(--clr-primary-5);
}

.bars{
  font-size: 1.5rem;
  color: var(--clr-primary-1);
}
.bars_btn{
  background: none;
  border: none;
  margin-right: 1rem;
  transition: var(--transition);
}

.rotate_btn{
  transform: rotateZ(90deg);  
}
.cart_btns_cont_lg{
  flex: 0.1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.5rem;
}
.nav_icon{
  font-size: 1.4rem;
}
.profile_image_container{
  border-radius: var(--radius-low);
  box-shadow: var(--light-shadow);
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  position: relative;
}
.profile_settings_cont{
  font-size: 0.8rem;
  position: absolute;
  left: -220%;
  top: 115%;
  z-index: 200;
  width: 150px;
  background: var(--clr-white);
  box-shadow: var(--dark-shadow);
  padding: 1rem;
  border-radius: var(--radius-high);
  transition: var(--transition);
  visibility: hidden;
  opacity: 0;
  transition: var(--transition);
}
.profile_image_container:hover .profile_settings_cont{
  visibility: visible;
  opacity: 1;
}
.profile_link{
  font-size: 0.8rem;
  color: var(--clr-grey-3);
  display: block;
  letter-spacing: var(--spacing-low);
  transition: var(--transition);
}
.profile_link:hover{
  background-color: var(--clr-primary-8);
  color: var(--clr-grey-2);
}
.profile_image{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}


.cart{
  padding-left: 0.2rem;
  height: 1rem;
  letter-spacing: var(--spacing-low);
  transition: var(--transition);
  border-left: 10px solid transparent;
  position: relative;
}
.cart>a{
  font-size: 0.7rem;
  text-align: center;
  color: var(--clr-grey-1);
  /* color:red; */
}
.cart_text{
  font-size: 0.8rem;
  position: absolute;
  left: -300%;
  top: 200%;
  z-index: 200;
  width: 150px;
  /* background: var(--clr-grey-2); */
  /* background: var(--clr-primary-10); */
  background: var(--clr-white);
  box-shadow: var(--dark-shadow);
  padding: 1rem;
  border-radius: var(--radius-high);
  transition: var(--transition);
  visibility: hidden;
  opacity: 0;
}
.cart_btn{
  font-size: 0.7rem;
  margin: 1rem 0;
}
.cart:hover .cart_text{
  visibility: visible;
  opacity: 1;
}




@media screen and (min-width:768px){


  .bars_btn{
    display: none;
  }

  .navlinks_cont{
    display:block;
  }
  
  .nav_img_cont{
    flex: 0.5;
  }
  .nav_img_cont_lg{
    flex: 0.5;
  }

}

/* navSidebar */

.navSidebar_cont{
  position: fixed;
  z-index: 1001;
  background: var(--clr-primary-10);
  top: 0;
  left: -300px;
  height: 100vh;
  width: 250px;
  box-shadow: var(--dark-shadow);
  padding: 1rem;
  transition: var(--transition);
}
.navSidebar_image_container{
  display:flex ;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem 0;
  border-bottom: 1px solid var(--clr-grey-9);
}
.navSidebar_image_container>img{
  height: 60px;
  width: 60px;
}
.navSidebar_image_container>p{
  margin-left: 0.5rem;
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--clr-grey-5);
}
.sidelinks_cont{
  margin: 1rem 0;
}
.sidelink{
  padding: 0.5rem;
  display: flex;
  align-items: center;

}
.sidelink>a{
  color: var(--clr-grey-5);
  margin-left: 0.3rem;
  font-weight: 500;
  letter-spacing: var(--spacing-low);
}
.sidelink>i{
  color: var(--clr-grey-5);
  font-size: 0.8rem;
  width: 15px;
}

.sidelink>a:hover{
  color: var(--clr-grey-1);
}
.navSidebar_overlay{
  background: rgba(0, 0, 0, 0.7);
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
}

.show_overlay{
  visibility: visible;
  opacity: 1;
}
.show_navSidebar{
  transform: translateX(300px);
  -webkit-transform: translateX(300px);
}







/* Navbar  end================= */

/* footer======================== */

.footer{
  background: var(--clr-primary-9);
  padding: 8rem 0;
  /* margin-top: 3rem; */
  box-shadow: var(--light-shadow);
  width: 100vw;
}

.footer_cont{
  display : flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.footer_intro{
  font-size: 0.8rem;
}
.footer_img{
  width: 8rem;
}
.social_icons{
  margin: 0.4rem;
  font-size: 1rem;
  color: var(--clr-primary-1);
}
.footer_list_item{
  font-size:0.8rem ;
  color: var(--clr-grey-5);
}
.footer_list_item>a{
  color: var(--clr-grey-5);
}
.footer_company>h4{
  color: var(--clr-grey-3);
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
}
.footer_help>h4{
  color: var(--clr-grey-3);
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
}

/* footer end================================== */





