:root {
  /* dark shades of primary color*/
  --clr-primary-1: #38803A;
  --clr-primary-2:#3E8E41;
  --clr-primary-3:#449C47;
  --clr-primary-4: #4BAA4E;
  /* primary/main color */
  /* --clr-primary-5: #D7FCDB; */
  --clr-primary-5: #4CAF4F;
  /* lighter shades of primary color */
  --clr-primary-6: #71C174;
  --clr-primary-7: #8ECD90;
  --clr-primary-8: #C6FBCB;
  --clr-primary-9: #D7FCDB;
  --clr-primary-10: #ECFEEE;


/* Secondry color */
  --clr-secondry-1: #FFC933;
  --clr-secondry-2: #FFC31F;
  --clr-secondry-3: #FFBE0A;
  --clr-secondry-4: #F5B400;
  --clr-secondry-5: #E0A500;

/* red color */
  --clr-red-1: #E42535;
  --clr-red-2: #E63946;
  --clr-red-3: #E94957;

  /* white color */
  --clr-white: #fff;



  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 31%, 19%);
  --clr-grey-2: hsl(211, 28%, 26%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);



  --font-primary:  'Nunito', sans-serif;;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --spacing-low: 0.15rem;
  --radius-high: 1rem;
  --radius-low: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
/*
===============
Global Styles
===============
*/


.mycardd{
  box-shadow: var(--dark-shadow);
  padding:1rem 2rem;
  
  border-radius: var(--radius-low);
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  transition: box-shadow 0.3s ease-in-out;
  justify-content: space-between;

}


.filters{
      box-shadow: var(--dark-shadow);
      padding:0.5rem;
      border-radius: var(--radius-low);
      display: flex;
      flex-direction: row;
      margin-top: 1rem;
      transition: box-shadow 0.3s ease-in-out;
      justify-content: space-between;
}




.addDate{
  color: var(--clr-primary-1);
  font-weight: bold;
  font-size: small;
}

.locationDelivery{
  font-weight: bold;
  font-size: x-large;
  text-align: right;
  margin: 0.5rem;
}

.buyerName{
  color: var(--clr-grey-2);
  font-weight: bold;
  text-align: right;
  margin: 0.5rem;
}


.post_last{
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  margin-top: 0.5rem;
  justify-content: space-between;

}

.imagePreview{
  object-fit: cover;
  height: 280px;
  width:380px;
  margin: 2rem;
}

.post_rightt{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 1rem;
  border: 2px solid #38803A  ;
}
.post_left{
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  margin-top: 0.5rem;
  justify-content: space-between;


}

.butten{
  margin-top: 1rem;
}

.left_right_containerr{
  display:flex ;
  flex-direction: row;
  justify-content: space-between;

}


.details_view{
  color: var(--clr-primary-1);
  font-weight: bold;
  font-size: small;
  margin-top: 0.5rem;
}

.details_view_btn{
  font-weight: bold;
  border: 2px solid #4BAA4E;
  border-radius: var(--radius-low);
  width: 100px;
  text-align: center;

}

.accept_order_btn{
  font-weight: bold;
  border: 2px solid #4BAA4E;
  border-radius: var(--radius-low);
  padding: 10px 25px;
  transition: 0.5s;
}

.accept_order_btn:hover{

  background-color: var(--clr-primary-7);
  border: none;

}

.ignore_order_btn{
  font-weight: bold;
  border: 2px solid #4BAA4E;
  border-radius: var(--radius-low);
  padding: 10px 25px;
  transition: 0.5s;
}

.ignore_order_btn:hover{
  color: white;
  background-color: var(--clr-red-3);
  border: none;

}


.update_edit_bt{
  border:2px solid #38803A;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* flex: 0.2; */
  margin-right: 2rem;
  width: 100%;


}


.order_details_head{
font-size: 2rem;
font-weight: bold;
}

.order_details_sub{
font-size: 1rem;
font-weight: bold;
}

.order_seller_rating{
font-size: 1.3rem;
font-weight: bold;
}

.productimg{
display: flex;
flex-direction: column;
}

.image_product{
display: flex;
margin-top: 2rem;
justify-content: center;
align-items: center;

}

.onion{
  /* margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 4rem;
  margin-bottom: 4rem; */
  object-fit: cover;
  /* margin-bottom: 2rem; */
  height: 280px;
  width:380px;
  border-radius: var(--radius-low);
  


}

.delivery_details{

 display: flex;
 flex-direction: column;
 font-size: medium;
 justify-content: center;
 margin: 1rem;


}



.more_info{
font-size: 14px;
margin: 1rem;
}
.more_info .in{
  font-size: 14px;
}

.order_weight{
font-size: 1.7rem;
font-weight: 800;
}


.update_edit_btn{
margin-top: 1rem;

align-items: center;
justify-content: center;
height: 4rem;

}

.accept_order_btnn{
font-weight: bold;
  border: 2px solid #4BAA4E;
  border-radius: var(--radius-low);
  padding: 10px 25px;
  transition: 0.5s;


}

.accept_order_btnn:hover{

background-color: var(--clr-primary-7);
border: none;

}

.ignore_order_btnn{
font-weight: bold;
border: 2px solid var(--clr-red-1);
border-radius: var(--radius-low);
padding: 10px 25px;
transition: 0.5s;
margin-left: 2rem;
}

.ignore_order_btnn:hover{
color: white;
background-color: var(--clr-red-3);
border: none;

}



/* This is right side buttons--------------------------------- */

/* .right_side{

}
*/




.update_edit_btnn{
display: flex;

align-items: center;
justify-content: space-between;
height: 4rem;

}


.accept_order_btnnn{
font-weight: bold;
  border: 2px solid #4BAA4E;
  background-color: var(--clr-primary-7);
  border-radius: var(--radius-low);
  padding: 10px 25px;
  transition: 0.5s;


}

.accept_order_btnnn:hover{

background-color: var(--clr-primary-7);
border: none;

}

.ignore_order_btnnn{
font-weight: bold;
background-color: var(--clr-red-3);
border: 2px solid var(--clr-red-3);
border-radius: var(--radius-low);
padding: 10px 25px;
transition: 0.5s;
margin-left: 2rem;
}

.ignore_order_btnnn:hover{
color: white;
background-color: var(--clr-red-3);
border: none;

}

.progress_bar{
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: max-content;
  box-shadow: var(--dark-shadow);
  padding:4rem 2rem;
  border-radius: var(--radius-low);
}

.hed{
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: var(--spacing-low);
}


/* 2024 ---- 04 -------20 --------------------------------- */


.no_title{
  font-size: 1.6rem;
}

.nocard{
  box-shadow: var(--dark-shadow);
  padding:2rem;
  
  border-radius: var(--radius-low);
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  transition: box-shadow 0.3s ease-in-out;
  justify-content: center;
  align-items: center;
  
}

.buttonn button {
  margin: 2rem;
  margin-bottom: 1rem;
  background-color: #4BAA4E;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttonn button a {
  text-decoration: none;
  color: white;
}

.buttonn buttonn:hover {
  background-color: #3b8c3f; /* Darker shade when hovered */
}

.noVehicleCard{
   
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: var(--dark-shadow);
  width: max-content;
  
  border-radius: 2rem;
  padding: 1rem;
}

.heading{
  font-size: 28px;
  font-weight: 800;
  
  
}

.govi{
  color: var(--clr-primary-4);
  font-weight: 900;
}

.details{
  font-size: 18px;
}

.image{
  
  border-top: #ccc solid 2px;
 
padding-left: 1rem;
}

.addVehicleCard{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardNo{
  margin: 2rem;
  width: 100%;
 
  display: flex;
  justify-content: center;

}

.buttonn {
  margin: 1rem;
  display: inline-block;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50; /* Green */
  color: white;
  transition: 0.3s;
}

.addVehicle{
  padding: 1rem 2rem;
  border-radius: 4rem;

}

/* Hover effect */


.btn{
  width: max-content;
  font-size: 12px;
  
}

/* //////////////////////////////////////// */

.del_img{
  
  padding-bottom: 2rem;
}

.btn a{
  color: white;
}

.btn a:hover{
  color: #3b8c3f;
}

.price{
  font-size: 20px;
  font-weight: 700;
}

.button_section{
  
  display: flex;
  
  margin-top: 1rem;
  margin-left: 0.7rem;
}

.p_title{
  font-size: 22px;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.contact-info{
  font-size: 18px;
  border: var(--clr-primary-3) 1px solid;
  border-radius: 20px;
  margin-top: 1rem;
  display: none;
}

.map{
  margin-top: 1rem;
  box-shadow: var(--dark-shadow);
  padding:2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: var(--radius-low);
  margin-bottom: 1rem;
}

.maphead{
  margin-top: 1rem;
}

.distance_details{
  font-size: 18px;

}

.bold{
  font-weight: 600;
}

.in{
  font-size: 18px;
  font-weight: 500;
}

.btn_vehi{
  font-size: 18px;
  margin-bottom: 1rem;
}





@media screen and (max-width:500px){

  .mycardd{
    display: flex;
    flex-direction: column;
  } 
  
 

    .image_product{
      display: flex;
      flex-direction: column;
    }

    .onion{
      width: 250px;
      height: 170px;
      margin-top: -12px;
    }

    .order_details_head{
      font-size: 20px;
    }
    
    .order_weight{
      font-size: 12px;
    }
    
    .order_details_sub{
      font-size: 14px;
    }

    .more_info{
      font-size: small;
      margin: 0.4rem;
    }
    
    .delivery_details{
      margin-top: 8px;
     
      display: flex;
      justify-content: center;
    }
    
    .distance{
      font-size: small;
    }

    .btn{
      font-size: 10px;
      padding: 6px;
    }

    .button_section{
     
      display: flex;
      justify-content: center;
    }

    .price{
      font-size: 18px;
    }

    

    .in{
      font-size: 12px;
      font-weight: 500;
    }

    .update_edit_btnn{
     
      display: flex;
      flex-direction: column;
    }
    .a_btn{
      margin-top: 8px;
      margin-bottom: 20px;
    }

    .progress_bar{
      padding: 10px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      
      
    }

    .more_info .in{
      text-align: center;
    }

    .p_title{
      font-size: 16px;
      margin-bottom: 0.5rem;
    }

    .more_info{
      font-size: 10px;
    
      text-align: center;
    }

    .details_all{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .distance_details{
      font-size: 14px;
    }

    .image_two{
      width: 120px;
      margin-left: -3rem;
    }

    .del_img_2{
      width: 120px;
    }
    
    .heading{
      font-size: 16px;
    }

    .details{
      font-size: 12px;
      text-align: center;
    }

    .details_two{
      font-size: 12px;

    }

    .noVehicleCard{
   
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-shadow: var(--dark-shadow);
      width: fit-content;
      
      border-radius: 2rem;
      padding: 0.4rem;
    }

    .cardNo{
     
      margin-left: -0.2rem;
    }

    .btn_two{
      font-size: 10px;
    }

    .del_img{
      width: 70%;
    }

    .image{
  
      display: flex;
      justify-content: center;
    }

    
    

    
    

}