:root {
  /* dark shades of primary color*/
  --clr-primary-1: #38803A;
  --clr-primary-2:#3E8E41;
  --clr-primary-3:#449C47;
  --clr-primary-4: #4BAA4E;
  /* primary/main color */
  /* --clr-primary-5: #D7FCDB; */
  --clr-primary-5: #4CAF4F;
  /* lighter shades of primary color */
  --clr-primary-6: #71C174;
  --clr-primary-7: #8ECD90;
  --clr-primary-8: #C6FBCB;
  --clr-primary-9: #D7FCDB;
  --clr-primary-10: #ECFEEE;


/* Secondry color */
  --clr-secondry-1: #FFC933;
  --clr-secondry-2: #FFC31F;
  --clr-secondry-3: #FFBE0A;
  --clr-secondry-4: #F5B400;
  --clr-secondry-5: #E0A500;

/* red color */
  --clr-red-1: #E42535;
  --clr-red-2: #E63946;
  --clr-red-3: #E94957;

  /* white color */
  --clr-white: #fff;



  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 31%, 19%);
  --clr-grey-2: hsl(211, 28%, 26%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);



  --font-primary:  'Nunito', sans-serif;;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --spacing-low: 0.15rem;
  --radius-high: 1rem;
  --radius-low: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
/*
===============
Global Styles
===============
*/


.mycardd{
  box-shadow: var(--dark-shadow);
  padding:2rem;
  padding-bottom: 0.4rem;
  border-radius: var(--radius-low);
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  transition: box-shadow 0.3s ease-in-out;
  justify-content: space-between;

}

.filters{
      box-shadow: var(--dark-shadow);
      padding:0.5rem;
      border-radius: var(--radius-low);
      display: flex;
      flex-direction: row;
      margin-top: 1rem;
      transition: box-shadow 0.3s ease-in-out;
      justify-content: space-between;

}



.addDate{
  color: var(--clr-primary-1);
  font-weight: bold;
  font-size: small;
}

.locationDelivery{
  font-weight: bold;
  font-size: x-large;
  text-align: right;
  margin: 0.5rem;
}

.buyerName{
  color: var(--clr-grey-2);
  font-weight: bold;
  text-align: right;
  margin: 0.5rem;
}

.post_last{
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  margin-top: 0.5rem;
  justify-content: space-between;

}

.post_rightt{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 1rem;
  border: 2px solid #38803A  ;
}
.post_left{
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  margin-top: 0.5rem;
  justify-content: space-between;


}

.left_right_containerr{
  display:flex ;
  flex-direction: row;
  justify-content: space-between;

}


.details_view{
  color: var(--clr-primary-1);
  font-weight: bold;
  font-size: small;
  margin-top: 0.5rem;
}

.details_view_btn{
  font-weight: bold;
  border: 2px solid #4BAA4E;
  border-radius: var(--radius-low);
  width: 100px;
  text-align: center;

}

.accept_order_btn{
  font-weight: bold;
  border: 2px solid #4BAA4E;
  border-radius: var(--radius-low);
  padding: 10px 25px;
  transition: 0.5s;
}

.accept_order_btn:hover{

  background-color: var(--clr-primary-7);
  border: none;

}

.ignore_order_btn{
  font-weight: bold;
  border: 2px solid #4BAA4E;
  border-radius: var(--radius-low);
  padding: 10px 25px;
  transition: 0.5s;
}

.ignore_order_btn:hover{
  color: white;
  background-color: var(--clr-red-3);
  border: none;

}


.update_edit_bt{
  border:2px solid #38803A;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* flex: 0.2; */
  margin-right: 2rem;
  width: 100%;


}

.onion{
  /* margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 4rem;
  margin-bottom: 4rem; */
  margin-bottom: 2rem;
  height: 200px;
  width:200px;
  border-radius: var(--radius-low);

}

.order_details_head{
font-size: 2rem;
font-weight: bold;
}

.order_details_sub{
font-size: 1rem;
font-weight: bold;
}

.order_seller_rating{
font-size: 1.3rem;
font-weight: bold;
}

.productimg{
display: flex;
flex-direction: column;
}

.image_product{
display: flex;

justify-content: center;
align-items: center;

}

.delivery_details{

 display: flex;
 flex-direction: column;
 font-size: medium;
 justify-content: center;
 margin: 1.5rem;
}

.more_info{
font-size: medium;
margin: 1rem;
}

.order_weight{
font-size: 1.7rem;
font-weight: 800;
}


.update_edit_btn{
margin-top: 1rem;

align-items: center;
justify-content: center;
height: 4rem;

}

.accept_order_btnn{
font-weight: bold;
  border: 2px solid #4BAA4E;
  border-radius: var(--radius-low);
  padding: 10px 25px;
  transition: 0.5s;


}

.accept_order_btnn:hover{

background-color: var(--clr-primary-7);
border: none;

}

.ignore_order_btnn{
font-weight: bold;
border: 2px solid var(--clr-red-1);
border-radius: var(--radius-low);
padding: 10px 25px;
transition: 0.5s;
margin-left: 2rem;
}

.ignore_order_btnn:hover{
color: white;
background-color: var(--clr-red-3);
border: none;

}



/* This is right side buttons--------------------------------- */

/* .right_side{

}
*/




.update_edit_btnn{


align-items: center;
justify-content: center;
height: 4rem;

}


.accept_order_btnnn{
font-weight: bold;
  border: 2px solid #4BAA4E;
  background-color: var(--clr-primary-7);
  border-radius: var(--radius-low);
  padding: 10px 25px;
  transition: 0.5s;


}

.accept_order_btnnn:hover{

background-color: var(--clr-primary-7);
border: none;

}

.ignore_order_btnnn{
font-weight: bold;
background-color: var(--clr-red-3);
border: 2px solid var(--clr-red-3);
border-radius: var(--radius-low);
padding: 10px 25px;
transition: 0.5s;
margin-left: 2rem;
}

.ignore_order_btnnn:hover{
color: white;
background-color: var(--clr-red-3);
border: none;

}

.progress_bar{
  box-shadow: var(--dark-shadow);
  padding:4rem;
  border-radius: var(--radius-low);
}

.hed{
  font-size: 1.6rem;
  font-weight: bold;
}


/* 2024 ---- 04 -------20 --------------------------------- */


.no_title{
  font-size: 1.6rem;
}

.nocard{
  box-shadow: var(--dark-shadow);
  padding:2rem;
  
  border-radius: var(--radius-low);
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  transition: box-shadow 0.3s ease-in-out;
  justify-content: center;
  align-items: center;
  
}

.button button {
  margin: 2rem;
  margin-bottom: 1rem;
  background-color: #4BAA4E;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button button a {
  text-decoration: none;
  color: white;
}

.button button:hover {
  background-color: #3b8c3f; /* Darker shade when hovered */
}