



.profile{
   display:flex;
   margin-left: 18rem;
   margin-top: 5.5rem;
   flex-direction: column;
   margin-bottom: 3rem;
   align-items: center;
 }

.markettop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }
.markettop h4{
    
    display: flex;
    align-items: center;
}
  .marketsortbar{
    display: flex;
    flex-direction: row;
    /*border: 2px solid green;*/
  }
  .marketcards_1{
    display: flex;
    flex-direction: row;
    /*border: 2px solid red;*/
  }
  .marketcards_2{
    display: flex;
    flex-direction: row;
    /*border: 2px solid green;*/
  }
  
  .searchbar2_cont{
    display:flex ;
    background:transparent;
    border-radius: 20px;
    width:450px ;
    align-items: center;
    border: 2px solid greenyellow;
    justify-content: center;
  }
  
  .searchbar2 input{
    width: 400px;
    background:transparent;
    border: 2px;
    
  }
  .searchbar2 button img{
    border-radius: 50%;
    height: 15px;
    width: 15px;
    
  }
  .searchbar2 button{
    background: var(--clr-primary-6);
    border-radius: 50%;
    height: 33px;
    width: 33px;
    align-items: center;
    
  }
  
  .marketbt{
    display: flex;
    
    width: 370px;
    justify-content: space-around;
  
  }
  
  


  
.marketplace_container_main{
  position: relative;
  min-height: calc( 100vh - 4rem);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.marketplace_container_sidebar{
  position: absolute;
  top: 6rem;
  left: 0;
  width:15rem ;
  height: calc( 100vh - 10rem);
}
.marketplace_container_content{
  width: 100%;
  height: calc( 100vh - 8rem);
  overflow: scroll;
  min-width: 100px;
}



/* section mid==================== */


@media screen and (max-width: 1176px) {
  .section-mid {
    margin-left: 0rem;
  }
}

/* section mid end==================== */



/*-- search bar ========================= -->*/
.searchbar_section {
  width: 100%;
  max-width: 1796px;
  margin: 0 auto;
}
.search_terms_cont {
  /* max-width: 1000px; */
  width: 100%;
  max-width: 1100px;
  padding: 1rem 1rem;
  padding-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
}
.search_title {
  color: var(--clr-grey-6);
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 500;
  margin-right: 1rem;
}
.search_term {
  color: var(--clr-primary-2);
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
}

.searchbar_cont {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 5rem;
}
.searchbar_title_cont{
  flex: 0.2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0.6rem;
}
.search_cont{
  flex: 0.8;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.searchbar_title {
  font-size: 1.1rem;
  letter-spacing: var(--spacing-low);
  text-transform: uppercase;
}
.searchbar {
  border-radius: var(--radius-low);
  background: var(--clr-primary-10);
  display: inline-block;
  border: 1px solid var(--clr-grey-5);
  padding: 0.2rem;
  height:2.5rem;
  position: relative;
}
.search {
  background: none;
  border: none;
  width: 40vw;
  /* min-width: 14rem; */
  height: 2rem;
}
.search::placeholder {
  font-size: 0.7rem;
  overflow: hidden;
}
.search:focus {
  border: none;
}
.search_icon {
transition: var(--transition);
color: var(--clr-grey-3);
}

.search_btn {
  position: absolute;
  top: 0;
  right: 0;
bottom: 0;
  height: 2.5rem;
  width: 3rem;
  background: var(--clr-primary-5);
  border-bottom-right-radius: var(--radius-low);
  border-top-right-radius: var(--radius-low);
  outline: none;
  border: transparent;
  cursor: pointer;
}

.search_btn:hover .search_icon {
color: var(--clr-primary-9);
}
.search_btn:active .search_icon {
color: var(--clr-primary-3);
}
.searchbar_btn_cont {
  display: flex;
  border: 2px solid var(--clr-primary-5);
  border-radius: var(--radius-high);
  box-shadow: var(--dark-shadow);
}
.searchbar_btn_cont > button {
  border: none;
  padding: 0.5rem;
  /* letter-spacing: var(--spacing-low); */
  font-size: 0.8rem;
  /* transition: var(--transition); */
}
.searchbar_btn_cont > button:active {
  transform: scale(1.02);
}
.listing_btn {
  color: var(--clr-grey-3);
  border-top-left-radius: 0.9rem;
  border-bottom-left-radius: 0.9rem;
  background: var(--clr-primary-10);
}
.auction_btn {
  color: var(--clr-grey-3);
  background: var(--clr-primary-10);
  border-top-right-radius: 0.9rem;
  border-bottom-right-radius: 0.9rem;
}
.active {
  background: var(--clr-primary-4);
  color: var(--clr-grey-1);
}

.filter_cont {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.filter_btn {
  display: flex;
  justify-content: space-evenly;
  padding: 0.4rem 0.5rem;
  min-width: 6rem;
  border-radius: var(--radius-high);
  margin: 0 0.5rem;
  background: var(--clr-white);
  border: 1px solid var(--clr-grey-9);
  transition: var(--transition);
  cursor: pointer;
}
.filter_btn:hover {
  background: var(--clr-grey-9);
}

@media screen and (max-width: 1176px) {
  .filter_cont {
    display: flex;
  }
}


@media screen and (max-width: 480px) {


  .searchbar_btn_cont > button {
    border: none;
    padding: 0.2rem;
    font-size: 0.6rem;
  }
  .searchbar_title {
    font-size: 0.9rem;
  }
  .searchbar {
    padding: 0.1rem;
  }
  .search_btn{
    width: 2.5rem;
  }
  .search_icon{
    font-size: 0.8rem;
  }

  .search::placeholder {
    font-size: 0.6rem;
  }

  .search_icon {
    padding: 0.3rem;
    margin-right: 0.3rem;

  }
}

/* <!-- search bar end ========================= --> */

/* items cont====================================== */

.items_section {
  min-height: 100vh;
  margin: 1rem 0;
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
  width: 100%;
  /* border: 2px solid red; */
  flex-direction: column;
  align-items: center;
}
.items_cont {
  display: grid;
  grid-template-columns: repeat(4, 230px);
  row-gap: 1.5rem;
  column-gap: 1.5rem;
  /* border: 2px solid blue; */
}

.item_btn {
  background: var(--clr-white);
  border: none;
  transition: var(--transition);
  cursor: pointer;
  border-radius: var(--radius-high);
  display: flex;
  justify-content: center;
}
.item_btn:hover {
  box-shadow: var(--light-shadow);
}
.item_img {
  border-radius: var(--radius-high);
  width: 230px;
  height: 230px;
  object-fit: cover;
}
.item {
  display: flex;
  flex-direction: column;
}
.item_img_cont {
  max-width: 300px;
  max-height: 300px;
}
.star_img {
  color: var(--clr-secondry-3);
}
.item_desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 0.5rem;
}

.item_title {
  color: var(--clr-grey-1);
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: capitalize;
  font-size: 1rem;
  margin: 0.2rem 0;
}
.item_rating {
  font-size: 0.6rem;
}
.item_price {
  color: var(--clr-grey-1);
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: capitalize;
  font-size: 1.2rem;
  margin: 0.2rem 0;
}
.item_price > span {
  font-size: 1rem;
}
.item_title_cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.item_price_cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.item_time {
  color: var(--clr-red-2);
}

@media screen and (max-width: 1400px) {
  .items_cont {
    /* border: 2px solid green; */
  }
  .items_cont {
    grid-template-columns: repeat(4, 190px);
    /* grid-template-rows: repeat(5, 300px); */
    row-gap: 1.5rem;
    column-gap: 1.5rem;
  }
  .item_img {
    width: 190px;
    height: 190px;
  }
}

@media screen and (max-width: 1100px) {
  .items_cont {
    grid-template-columns: repeat(3, 190px);
    /* grid-template-rows: repeat(3, 300px); */
    row-gap: 1rem;
    column-gap: 1rem;
  }
  .item_img {
    width: 190px;
    height: 190px;
  }
}
@media screen and (max-width: 952px) {
  .items_cont {
    grid-template-columns: repeat(3, 170px);
    /* grid-template-rows: repeat(3, 280px); */
    row-gap: 1rem;
    column-gap: 1rem;
  }
  .item_img {
    width: 170px;
    height: 170px;
  }
  .searchbar_cont {
    justify-content: center;
    align-items: flex-start;
    height: 8rem;
    flex-direction: column;
    padding: 0 1rem;
  }
  .searchbar_title_cont{
    flex: none;
    align-items: center;
    justify-content: center;
  }
  .search_cont{
    flex: none;
    width: 100%;
    justify-content: space-between;
  }
  .searchbar_btn_cont{
    flex: 0.2;
  }
  .searchbar{
    flex: 0.6;
  }
}
@media screen and (max-width: 660px) {
  .items_cont {
    grid-template-columns: repeat(2, 180px);
    /* grid-template-rows: repeat(5, 330px); */
    row-gap: 1rem;
    column-gap: 1rem;
  }

  .item_img {
    width: 180px;
    height: 180px;
  }
}

@media screen and (max-width: 568px) {
  .items_cont {
    grid-template-columns: repeat(2, 170px);
    /* grid-template-rows: repeat(5, 0px); */

    row-gap: 1rem;
    column-gap: 1rem;
  }
  .item_img {
    width: 170px;
    height: 170px;
  }
  .item_title {
    font-size: 0.8rem;
    margin: 0.2rem 0;
  }
  .item_price {
    font-size: 1rem;
    margin: 0.2rem 0;
  }
  .item_price > span {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 480px) {
  .items_cont {
    grid-template-columns: repeat(2, 130px);
    /* grid-template-rows: repeat(9, 280px); */

    row-gap: 1rem;
    column-gap: 1rem;
  }
  .item_img {
    width: 130px;
    height: 130px;
  }
}
@media screen and (max-width: 380px) {
  .items_cont {
    grid-template-columns: repeat(1,140px);
    /* grid-template-rows: repeat(2, 250px); */
    row-gap: 1rem;
    column-gap: 1rem;
  }
  .item_img {
    width: 140px;
    height: 140px;
  }
}

/* items cont end=================================== */
.items_text {
  text-align: center;
}

  
  
.pg_cont{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}
.pg_no{
padding:0.2rem 0.5rem;
margin: 0.5rem;
font-size: 0.8rem;
font-style: none;
font-weight: 600;
color: var(--clr-grey-5);
width: 1.2rem;
display: flex;
align-items: center;
justify-content: center;
transition: var(--transition);
border-bottom: 2px solid transparent;
}
.pg_no:hover{
  border-bottom: 2px solid var(--clr-grey-6);
}
.current_pg{
  /* background: var(--clr-primary-7) !important; */
  border-bottom: 2px solid var(--clr-grey-2) !important;
  color: var(--clr-grey-3) !important;
}
.pg_prev{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  border-radius: 50%;
  color: var(--clr-grey-4);
  padding: 0.8rem;
  border: 1px solid var(--clr-grey-8);
  transition: var(--transition);
}
.pg_prev:hover{
  background: var(--clr-grey-10);
}

.pg_next{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  border-radius: 50%;
  color: var(--clr-grey-4);
  padding: 0.8rem;
  border: 1px solid var(--clr-grey-8);
  transition: var(--transition);
}
.pg_next:hover{
  background: var(--clr-grey-10);
}




/* sorting & filtering============ */


/* path container */
.path_container {
  min-height: 3rem;
  width: calc(100vw - 16rem);
  display: flex;
  justify-content: center;
}
.path_section {
  padding: 0 0.8rem;
  width: 100%;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.path_cont {
  /* padding-left: 3rem; */
  /* width: 100%; */
  max-width: 620px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.path_item {
  margin: 0.1rem 0.2rem;
  padding: 0.3rem;
  background: var(--clr-primary-10);
  font-size: 0.7rem;
  border-radius: var(--radius-low);
  letter-spacing: 1px;
}
.sort_cont {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  /* border: 2px solid red; */
  width: 14rem;
}
.expand_sorting {
  position: absolute;
  top: 2.6rem;
  right: 1rem;
  z-index: 1001;
  background: var(--clr-white);
  width: 10rem;
  border-radius: var(--radius-low);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  /* height: max-content; */
  visibility: visible;
  transition: var(--transition);
}
.hide_expand_sorting {
  opacity: 0;
  /* height: 0; */
  visibility: hidden;
}
/* .expand_sorting li{
  display: flex;
  align-items: center;
  justify-content: center;
} */
.sorting_btn {
  background: transparent;
  border: transparent;
  font-size: 0.8rem;
  text-transform: capitalize;
  padding: 0.5rem;
  letter-spacing: 1px;
  margin: 0 0.5rem;
  cursor: pointer;
  border-radius: var(--radius-low);
  transition: var(--transition);
  /* font-weight: 600; */
  color: var(--clr-grey-3);
  /* width: 8.5rem; */
}
.sorting_btn i {
  transition: var(--transition);
}
.sorting_btn_txt {
  margin-right: 0.5rem;
}
.sorting_btn:hover {
  background: var(--clr-grey-9);
}

.sorting_item {
  color: var(--clr-grey-5);
  letter-spacing: 1px;
  padding: 0.5rem;
  transition: var(--transition);
  width: 100%;
  margin: 0.2rem 0;
  font-size: 0.8rem;
  display: block;
  border-radius: var(--radius-low);
  /* border: 2px solid blue; */
}
.sorting_item > i {
  color: var(--clr-grey-3);
  margin-left: 0.2rem;
}
.sorting_item:hover {
  background: var(--clr-grey-10);
}
.sorting_check {
  opacity: 0;
  transition: var(--transition);
}
.sorting_check_show {
  opacity: 1;
}
/* path container end*/

/* sidebar ==================================== */

.filter_btn_expand {
  padding: 0.8rem 0.5rem;
  min-width: 6rem;
  border-radius: var(--radius-low);
  margin: 0 0.5rem;
  background: var(--clr-white);
  border: 1px solid var(--clr-grey-9);
  transition: var(--transition);
  cursor: pointer;
  display: none;
}
.filter_btn_expand > h5 {
  letter-spacing: 1px;
  color: var(--clr-grey-3);
  margin-right: 0.3rem;
}
.filter_btn_expand:hover {
  border: 1px solid var(--clr-grey-3);
}
apply_btn {
  margin: 0.5rem 0;
  border-radius: var(--radius-low);
}
.apply_btn:hover {
  background: var(--clr-primary-6);
  color: var(--clr-white);
}
.apply_btn:active {
  transform: scale(1);
}

.form-check-label {
  color: var(--clr-grey-3);
  font-size: 0.95rem;
}

/* ==================== */
/* Hide the default checkbox */
.form-check-input {
  position: absolute;
  opacity: 0;
}

/* Style the custom checkbox container */
.form-check-label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  display: inline-block; /* Ensures proper alignment */
}

/* Create the custom checkbox */
.form-check-label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  border: 2px solid var(--clr-grey-7);
  background-color: var(--clr-white);
  border-radius: 4px;
  transition: all 0.1s ease;
}

/* Style the custom checkbox when checked */
.form-check-input:checked + .form-check-label::before {
  background-color: var(--clr-primary-7);
  border-color: var(--clr-primary-6);
}
.form-check:hover .form-check-label::before {
  border: 2px solid var(--clr-grey-6);
  box-shadow: 0px 0px 5px 2px var(--clr-grey-9);
}

/* Style the checkmark inside the custom checkbox */
.form-check-label::after {
  content: "\2713"; /*  */
  font-size: 16px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

/* Display the checkmark when the checkbox is checked */
.form-check-input:checked + .form-check-label::before::after {
  display: block;
}

/* ==================== */

.filter_content {
  /* border: 2px solid green; */
  padding: 0.5rem 0.5rem;
}
.card_body {
  /* border:2px solid blue; */
  display: flex;
  flex-direction: column;
  max-height: 12rem;
  overflow-y: scroll;
}

.card_body::-webkit-scrollbar {
  max-width: 1px;
  max-height: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--clr-grey-9);
}

.card_body::-webkit-scrollbar-thumb:hover {
  background: var(--clr-primary-9);
}

.price-input {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
  /* margin: 30px 0 35px; */
}
.quantity-input {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
  /* margin: 30px 0 35px; */
}
.price-input .field {
  display: flex;
  width: 100%;
  /* height: 45px; */
  align-items: center;
}
.quantity-input .field {
  display: flex;
  width: 100%;
  /* height: 45px; */
  align-items: center;
}
.field > span {
  font-size: 0.8rem;
  color: var(--clr-grey-4);
  padding-right: 0.3rem;
}
.field input {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 0.5rem;
  /* margin-left: 12px; */
  border-radius: 5px;
  text-align: center;
  border: 1px solid #999;
  -moz-appearance: textfield;
  padding: 0.3rem 0.1rem;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  /* border: 2px solid red; */
}
.price-input .separator {
  /* width: 130px; */
  display: flex;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  padding: 0 0.3rem;
  color: var(--clr-grey-8);
}
.quantity-input .separator {
  /* width: 130px; */
  display: flex;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  padding: 0 0.3rem;
  color: var(--clr-grey-8);
}
.slider {
  height: 5px;
  position: relative;
  background: var(--clr-grey-9);
  border-radius: 5px;
  /* border: 2px solid red; */
}
.slider .progress {
  height: 100%;
  left: 0%;
  right: 0%;
  position: absolute;
  border-radius: 5px;
  background: var(--clr-primary-7);
}
.slider .progress-quantity {
  height: 100%;
  left: 0%;
  right: 0%;
  position: absolute;
  border-radius: 5px;
  background: var(--clr-primary-7);
}
.range-input {
  position: relative;
  /* border: 2px solid red; */
}
.range-input-quantity {
  position: relative;
  /* border: 2px solid red; */
}
.slide_cont {
  position: absolute;
  top: 0;
  left: 0;
}
.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: 0;
  background: none;
  padding: 0;
  margin: 0;
  pointer-events: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.range-input-quantity input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: 0;
  background: none;
  padding: 0;
  margin: 0;
  pointer-events: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: var(--clr-primary-5);
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  /* border: 2px solid red; */
}
input[type="range"]::-moz-range-thumb {
  height: 10px;
  width: 10px;
  border: none;
  border-radius: 50%;
  background: var(--clr-primary-5);
  pointer-events: auto;
  cursor: pointer;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

.filter_btn_cont {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1rem;
  height: 3rem;
}
.filter_form {
  position: relative;
}



/* === */

.filter_content {
  display: none;
}
.filter_content_show {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 2000;
  padding: 1rem;
  background: var(--clr-white);
  border-radius: var(--radius-low);
  border: 1px solid var(--clr-grey-8);
  box-shadow: var(--light-shadow);
  width: 12rem;
  transition: var(--transition);
}
.filter_btn_expand {
  display: flex;
  justify-content: space-evenly;
}
.filter_title {
  display: none;
}
.sidebar {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  /* box-shadow: var(--light-shadow); */
  padding: 1.5rem;
  background: var(--clr-white);
  /* transition: var(--transition); */
  z-index: 50;
  height: 5rem;
  border: none;
  overflow-y: visible;
}


.card-group-item {
  display: flex;
  max-width: 100vw;
}
.show {
  display: block;
}
.marketplace_container_sidebar {
  position: initial;
  width: 100%;
  height: auto;
}
.marketplace_container_content {
  width: 100vw;
}
.path_container {
  width: 100%;
}
.close_btn_cont {
  display: flex;
}


@media screen and (max-width: 600px) {
  .filter_btn_expand {
    padding: 0.4rem 0.2rem;
    min-width: 3rem;
    margin: 0 0.3rem;
  }
  .filter_btn_expand > h5 {
    font-size: 0.5rem;
  }
  .filter_content_show {
    left: -20%;
    padding: 0.2rem;
    width: 10rem;
  }
}

