
/* .profile{
  margin-left: 16rem;

.profile{
  margin-left: 4rem;

  margin-top: 4rem;
  width: 100vw;
} */





/*profilee =================================== */


/* .overlay{
  position:absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0,0.8);
  width: 100vw;
  height: 100vh;
  z-index: 500;
} */

/* .pic_cont{
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.edit_img{
  width: 400px;
  height: 400px;
}

.cover_img{
 background: var(--clr-grey-9);
}

.pic_form_cont{
  position:absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 50px;
  z-index: 501;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;

} */
.profile_form{
  display: flex;
  flex-direction: column;
}
.btn_cont{
  padding: 0.5rem 0;
  display: flex;
  justify-content: flex-end;
}


.profile_icon_upload{
  display: none;
}
.cover_icon_upload{
  display: none;
}
#profile_image{
  display: none;
}
#cover_image{
  display: none;
}
/* #profile_img_form {
  visibility: visible;
  height: auto;
} */
.upload_img_btn{
  width: 400px;
  border-radius: var(--radius-low);
}


.profile_section{
  position: relative;
 width: 90%;
 margin: 0 auto;
 max-width: 1176px;
 box-shadow: var(--light-shadow);
 border-bottom-left-radius: var(--radius-high);
 border-bottom-right-radius: var(--radius-high);
}
.profile_conts{
 display: flex;
 flex-direction: column;
 align-items: center;

}
.cover_img_cont{
 width: 100%;
 height: 100%;
 position: relative;
 min-height: 180px;
 background: var(--clr-grey-8);
}
.cover_icon {
 position: absolute;
 top: 10%;
 right: 5%;
 /* z-index: 2000; */
 border-radius: var(--radius-low);
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: rgba(76, 175, 79, 0.5); /* 
 Transparent blue color */
 transition: opacity 0.3s;
 color: var(--clr-white);
 font-size: 0.8rem;
 text-align: center;
 font-weight: 600;
 text-transform: capitalize;
 padding: 0.3rem;
 width: 100px;
 border: transparent;
  cursor: pointer;
}
.cover_icon:hover{
  background-color: rgba(76, 175, 79, 0.7);
}
.cover_input{
  display:none;
}
.view_icon:hover{
  background-color: rgba(76, 175, 79, 0.7);
}                             
.view_icon {
 position: absolute;
 top: 30%;
 right: 5%;
 /* z-index: 2000; */
 border-radius: var(--radius-low);
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: rgba(76, 175, 79, 0.5); /* 
 Transparent blue color */
 transition: opacity 0.3s;
 color: var(--clr-white);
 font-size: 0.8rem;
 text-align: center;
 font-weight: 600;
 text-transform: capitalize;
 padding: 0.3rem;
 width: 100px;

}

.cover_img{
 width: 100%;
 height: 180px;
 min-width: 100%;
 min-height: 180px;
 object-fit: cover;
 object-position: center;
}

.profile_details{
 /* border: 2px solid blue; */
 margin: 0 auto;
 margin-top: -100px;
 width: 80%;
}
.prof_img_cont{
 display: flex;
 align-items: center;
 justify-content: space-between;
 height: 200px;
 /* width: 150px; */
}
.profile_img{
 border: 5px solid var(--clr-white);
 border-radius: 50%;
 height: 150px;
 width: 150px;
 min-height: 150px;
 min-width: 150px;
 object-fit: cover;
 object-position: center;
 background: var(--clr-grey-3);
}
.profile_img_cont{
 margin: 0.5rem;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 position: relative;
}
.user_icon_container{

  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--light-shadow);
  
  border: 5px solid var(--clr-white);
  border-radius: 50%;
  height: 150px;
  width: 150px;
  min-height: 150px;
  min-width: 150px;
  background: var(--clr-grey-8);
}
.user_icon{
  /* margin-left: 2px; */
  color: var(--clr-grey-4);
  font-size: 5rem;
}



.profile_icon {
 position: absolute;
 top: 0;
 left: 0;
right: 0;
min-height: 150px;
min-width: 150px;
 border-radius: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: rgba(142, 205, 144, 0.5); 
 opacity: 0;
 transition: opacity 0.3s;
 color: var(--clr-white);
 font-size: 0.8rem;
 text-align: center;
 font-weight: 600;
 text-transform: capitalize;
 outline: none;
 border: transparent;
 cursor: pointer;
}


.profile_img_cont:hover .profile_icon{
 opacity: 1;
}
.profile_img:hover {
 opacity: 1;
}


.become_seller{
 margin: 1rem;
 padding: 0.8rem;
 border-radius: var(--radius-high);
 background: rgba(249, 251, 249,0.7);
 box-shadow: var(--light-shadow);
 text-transform: capitalize;
 letter-spacing: 1px;
 color: var(--clr-primary-2);
 cursor: pointer;
 font-weight: 600;
 z-index: 100;
}

.text_cont{
 display: flex;
 justify-content:flex-end;
 align-items: center;
}
.name_cont{
 flex: 0.4;
}
.user_name{
 color: var(--clr-grey-1);
 font-weight: 600;
}
.check_icon{
 color: var(--clr-primary-5);
}
.user_address{
 font-size: 0.8rem;
 color: var(--clr-grey-2);
}

.status_cont{
 margin: 1rem 0;
 flex: 0.6;
}
.stat_cont{
 /* width: 80%; */
 /* margin: 2rem auto; */
 display: flex;
 justify-content: space-evenly;
}
.stat{
 display: flex;
 align-items: center;
 justify-content: space-evenly;
 /* border: 2px solid red; */
 padding: 0.5rem;
 background: var(--clr-primary-10);
 box-shadow: var(--light-shadow);
 border-radius: var(--radius-high);
 color: var(--clr-secondry-3);
}
.stat>p{
 font-size: 0.8rem;
 text-transform: capitalize;
 letter-spacing: 1px;
 color: var(--clr-grey-5);
 font-weight: 600;
 margin-right: 0.5rem;
}
.stat>span{
 font-weight: 600;
 margin-right: 0.5rem;
}

.contact_btn{
 border-radius: var(--radius-low);
 min-width: 200px;
 font-weight: 600;
 border: 3px solid transparent ;
 transition: all  0.2s ease-in-out;
}
.save_btn{
 border-radius: var(--radius-low);
 min-width: 200px;
 font-weight: 600;
 background:var(--clr-white) ;
 border: 2px solid var(--clr-primary-7) ;
 color: var(--clr-primary-5);
}
.save_btn:hover{
 background: var(--clr-primary-10);
 /* border-color: var(--clr-primary-3); */
 border: 3px solid var(--clr-primary-3) ;

}






.details_section{
 width: 90%;
 margin: 1rem auto;
 max-width: 1176px;
 box-shadow: var(--light-shadow);
 border-radius: var(--radius-high);
 border: 1px solid transparent;

}
.about_title{

 display: flex;
 justify-content: space-between;
}
.details{
 width: 80%;
 margin:0 auto;
 margin-top: 1rem;
 padding:1rem 0;
}
.about_title>h3{
 font-size: 1rem;
}


.descp{
 font-size: 0.9rem;
 /* transition: var(--transition); */
}

.edit_about_cont{
 margin-top: 1rem;
 border-radius: var(--radius-low);
 opacity: 0;
 visibility: hidden;
 transform: translateY(-40px);
 height: 0;
 transition: var(--transition);
}
.edit_about_btn{
 background: var(--clr-grey-9);
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 0.3rem;
 cursor: pointer;
 border-radius: var(--radius-low);
 border: 2px solid transparent;
 color: var(--clr-grey-5);
}
.edit_about{
 width: 100%;
 border-radius:var(--radius-low) ;
 padding: 1rem;
 background: var(--clr-primary-10);
 border: 1px solid var(--clr-primary-7);
 color: var(--clr-grey-4);
 resize: none;
 outline: none;
}
.edit_about:focus {
 border: 1px solid var(--clr-primary-2);
}
.edit_about::-webkit-scrollbar-track {
 background:transparent;
}


.edit_about::-webkit-scrollbar-thumb {
 border-radius: var(--radius-high);
}

.edit_about_btn_cont{
 display: flex;
 justify-content: flex-end;
 align-items: center;
}



.cancel_btn{
 border-radius: var(--radius-low);
 margin: 0 0.3rem;
 padding: 0.3rem;
 font-size: 0.9rem;
 letter-spacing: 1px;
 min-width: 80px;
}
.update_btn{
 border-radius: var(--radius-low);
 margin: 0 0.3rem;
 padding: 0.3rem;
 font-size: 0.9rem;
 letter-spacing: 1px;
 min-width: 80px;
}






/* profile details */


.profile_details_cont{
 margin:2rem 0;
}
.edit_details_btn_cont{
 margin: 0.5rem 0;
 display: flex;
 justify-content: flex-end;
 align-items: center;
}
.edit_details_btn{
 background: var(--clr-grey-9);
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 0.3rem;
 cursor: pointer;
 border-radius: var(--radius-low);
 border: 2px solid transparent;
 color: var(--clr-grey-5);
}

.detail_name{
 font-size: 0.8rem;
 color: var(--clr-grey-4);
 font-weight: 600;
 letter-spacing: 2px;
 text-transform: capitalize;
}
.detail_desc{
 font-size: 0.8rem;
 color: var(--clr-grey-6);
 font-weight: 500;
 letter-spacing: 1px;
 width: 100%;
}

.prof_details_cont{
 padding:0 1.5rem;
 height: auto;
}
.prof_details_edit_cont{
 padding:0 1.5rem;
 /* border: 2px solid red; */
 opacity: 0;
 visibility: hidden;
 transform: translateY(-40px);
 height: 0;
 transition: var(--transition);
}




@media  screen and (max-width:992px) {
 .text_cont{
   flex-direction: column;
   /* justify-content: ; */
   align-items: flex-start;
 }
 .stat_cont{
   justify-content: space-between;
   /* border: 2px solid red; */
 }

 .status_cont{
   width: 70%;
  }
 
}
@media  screen and (max-width:768px) {
 .contact_btn{
   min-width: auto;
 }
 .save_btn{
   min-width: auto;  
 }

 .stat{
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   /* border: 2px solid red; */
   padding: 0.3rem;
 }
 .stat>p{
   font-size: 0.8rem;
   font-weight: 600;
   margin-right: 0.3rem;
 }
 .stat>span{
   font-weight: 600;
   margin-right: 0.3rem;
 }


 
}
@media  screen and (max-width:592px) {

 .status_cont{
   width: 100%;
  }
  .stat{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border: 2px solid red; */
    padding: 0.2rem;
    font-size: 0.5rem;
  }
  .stat>p{
    font-size: 0.4rem;
    font-weight: 500;
  }
  .stat>span{
    font-weight: 600;
  }
  .prof_img_cont{
    height: 150px;
  }
  .profile_img{
    height: 100px !important;
    width: 100px !important;
    min-height: 100px !important;
    min-width: 100px !important;
  }
  .profile_icon{
    height: 100px;
    width: 100px;
    min-height: 100px !important;
    min-width: 100px !important;
    font-size: 0.6rem;
  }
  .profile_details{
   margin-top: -60px;
  }

  .cover_img{
   width: 100%;
   height: 100px;
   min-height: 100px !important;
  }
  .cover_img_cont{
    min-height: 100px !important;
    
  }
  .become_seller{
   padding: 0.3rem;
   font-size: 0.5rem;
  }

.about_title>h3{
  font-size: 0.7rem;
  letter-spacing: 3px;
}
.descp{
  font-size: 0.6rem;
}
   
   .detail_name{
    font-size: 0.6rem;
    font-weight: 600;
   }
   .detail_desc{
    font-size: 0.6rem;
    font-weight: 500;
   }
   .cover_icon{
    font-size: 0.6rem;
   }
   .view_icon{
    font-size: 0.6rem;
   }

}




.section_review{
 width: 100vw;
 margin: 1rem auto;
 max-width: 1176px;
 box-shadow: var(--light-shadow);
 border-radius: var(--radius-high);
 border: 1px solid transparent;
 padding: 1rem;
}

.reviews_title_cont{
 width: 80%;
 margin:0 auto;
 margin-top: 1rem;
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.reviews_title_cont>h3{
 font-size: 1rem;
}

.add_review_btn{
 background: var(--clr-grey-9);
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 0.3rem;
 cursor: pointer;
 border-radius: var(--radius-low);
 border: 2px solid transparent;
 color: var(--clr-grey-5);
}

.review_write_cont{
 width: 80%;
 margin:2rem auto;
 display: flex;
 justify-content: center;
 align-items: center;
 transition: var(--transition);
 visibility: hidden;
 height: 0;
 opacity: 0;
 transform: translateY(-50px);
}

.show{
 transform: translateY(0);
 opacity: 1;
 visibility: visible;
 height:auto;
}
.review_input{
 width: 60%;
 border-top-right-radius: 0;
 border-bottom-right-radius: 0;
 box-shadow: var(--light-shadow);
 
}
.review_input::placeholder{
 text-transform: capitalize;
}
.btn_post{
 background: var(--clr-primary-5);
 border: 1px solid transparent;
 padding: 0.7rem 1.5rem;
 border-top-right-radius: 20px;
 border-bottom-right-radius: 20px;
 border-top-left-radius: 0;
 border-bottom-left-radius: 0;
}



/* reviews */


/* reviews container ============================= */
.reviews_section{
 margin-top: 1rem;
 transition: var(--transition);
 width: 100%;
}
.reviews_btn_container{
 display: flex;
 justify-content: flex-end;
 align-items: center;
}
/* .reviews_container{
 border-top: 1px solid var(--clr-grey-9);

} */


.reviews_cont{
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 gap: 0.8rem;
}

.review_cont{
 border-radius: var(--radius-high);
 border: 1px solid var(--clr-grey-7);
 padding: 1.5rem 2rem;
 width: 32rem;
}

.reviewer_name{
 color: var(--clr-grey-2);
 font-size: 0.75rem;
 letter-spacing: 1px;
}
.reviewer_name>span{
 color: var(--clr-primary-5);
}
.review{
 font-size: 0.7rem;
 margin: 0.5rem  0;
}
.review_date{
 color: var(--clr-grey-4);
 font-size: 0.75rem;
}

@media screen and (max-width :568px){
 .review_cont{
   width: auto;
 }
}


/* reviews container end============================= */





/*profilee end=================================== */

.hide{
  opacity: 0;
  visibility: hidden;
  transform: translateY(-40px);
  height: 0;
 }
 
 .show{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  height: auto;
 } 
 
 .input_items{
  display: flex;
  flex-direction:column;
  /* flex-wrap: wrap; */
  /* gap: 0.5rem; */
   border: 2px solid red;
}


.input_row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}