@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


/*
=============== 
Variables
===============
*/

.container_info {
  width: 100%;
  /* border: 2px solid blue; */
  background: var(--clr-grey-10);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0.5rem 0;
}
.sec_title {
  margin: 0.5rem auto;
  letter-spacing: 1px;
  font-weight: 600;
  color: var(--clr-grey-6);
  cursor: pointer;
}
.item_title {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--clr-grey-2);
  transition: var(--transition);
}
.item_title:hover {
  color: var(--clr-grey-4);
}
.info_cont {
  width: 100%;
  border-radius: var(--radius-low);
  background: var(--clr-white);
  padding: 1rem;
  margin:0.2rem ;
  display: flex;
}
.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text_container {
  flex: 0.8;
}
.seller{
    color: var(--clr-primary-6);
}
.image_container {
  flex: 0.2;
  height:inherit;
  max-width: 10rem;
  max-height: 10rem;
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 592px) {
  .image_container {
    max-width: 5rem;
    max-height: 5rem;
  }
  
}
.image_container > img {
  /* height: 100px; */
  /* width: 100px; */
  height: 90%;
  aspect-ratio: 1/1;
  object-fit: cover;
  background-position: center;
  background-repeat: cover;
  border-radius: var(--radius-low);
}

.navlinks{
  transition: var(--transition);
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  display: flex;
}

/* ========================== */
.info_bidders{
  display :flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 592px) {
  .info_bidders{
    flex-wrap: wrap;
  }
}

.backdrop {
  background: rgba(0, 0, 0, 0.7);
  z-index: 3000;
  position: fixed;
  width: 100%;
  height: 100%;
  transition: var(--transition);
  border: none;
  opacity: 1;
}


.profile_1{
  padding: 1rem;
}
.overlay {
  position: absolute;
  z-index: 3001;
  background: var(--clr-grey-10);
  top: 20%;
  left: 50%;
    width: 90%;
  max-width: 70rem;
  max-height:70vh;
  overflow-y: scroll;
  border-radius: var(--radius-low);
  padding: 2rem;
  transition: var(--transition);
  transform: translate(-50%,-100px );
}
.hidden_overlay {
  visibility: hidden;
  /* height: 0; */
  transform: translateY(0);
  transform: translateX(-50%);
}
.hidden_backdrop {
  visibility: hidden;
  /* height: 0; */
  opacity: 0;
  transform: translateY(0);
}

.info {
  display: flex;
  justify-content: start;
  min-width: 8rem;
}
.info > p {
  margin-right: 0.5rem;
}
.buyer_name{
  color: var(--clr-primary-5);
  font-weight: 600;
  font-size: 0.9rem;
}
.buyer_name:hover{
  text-decoration: underline;
  color: var(--clr-primary-4);
}
:root {
  /* dark shades of primary color*/
  --clr-primary-1: #38803A;
  --clr-primary-2:#3E8E41;
  --clr-primary-3:#449C47;
  --clr-primary-4: #4BAA4E;
  /* primary/main color */
  /* --clr-primary-5: #D7FCDB; */
  --clr-primary-5: #4CAF4F;
  /* lighter shades of primary color */
  --clr-primary-6: #71C174;
  --clr-primary-7: #8ECD90;
  --clr-primary-8: #C6FBCB;
  --clr-primary-9: #D7FCDB;
  --clr-primary-10: #ECFEEE;


/* Secondry color */
  --clr-secondry-1: #FFC933;
  --clr-secondry-2: #FFC31F;
  --clr-secondry-3: #FFBE0A;
  --clr-secondry-4: #F5B400;
  --clr-secondry-5: #E0A500;

/* red color */
  --clr-red-1: #E42535;
  --clr-red-2: #E63946;
  --clr-red-3: #E94957;
  
  /* white color */
  --clr-white: #fff;



  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 31%, 19%);
  --clr-grey-2: hsl(211, 28%, 26%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);



  --font-primary:  'Nunito', sans-serif;;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --spacing-low: 0.15rem;
  --radius-high: 1rem;
  --radius-low: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
/*
=============== 
Global Styles
===============
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 2px solid red; */
}   

body {
  font-family: var(--font-primary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;

}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/* img {
  width: 100%;
  display: block;
} */


h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  /* margin-bottom: 1.25rem; */
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn {
  /* text-transform: uppercase; */
  background: var(--clr-primary-5);
  color: var(--clr-white);
  padding: 0.45rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-family:var(--font-primary);
  /* font-weight: 700; */
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  border-radius:var(--radius-high);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-8);
}

.btn:active {
  color: var(--clr-primary-1);
  background: var(--clr-primary-8);
  transform: translateZ(-1px);
}

.btn_box{
  border-radius: 5px;
  
}

.section{
  padding: 5rem 0;
}
.section-title{
  text-align: center;
  margin-bottom: 4rem;
}
.section-title h2{
  text-transform: uppercase;
}
.section-title span{
  color: var(--clr-primary-5);
}
.section-center{
  width: 90vw;
  margin: 0 auto;
  max-width: 1920px;
}
@media  screen and(min-width:992px){
  .section-center{
    width: 95vw;
  }
}




input{
  color: var(--clr-grey-3);
  letter-spacing: var(--spacing-low);
  padding: 0.45rem;
  border-radius: 20px;
  padding: 0.7rem;
  background: var(--clr-primary-10);
  outline: none;
  border: 1px solid transparent;
}

input::placeholder{
  text-transform: uppercase;
  padding: 1rem;
  border: transparent;
}
input:focus{
  border: 1px solid var(--clr-primary-5);
}

.input_label{
  text-transform: capitalize;
  color: var(--clr-grey-2);
  margin-right: 0.7rem;
}

.card{
  box-shadow: var(--light-shadow);
  padding:0.5rem;
  border-radius: var(--radius-low);
}


.text{
  font-size: 2rem;
}


.btn_cont{
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-section{
  position: relative;
  top:0;
  left:200px;
  margin-top: 2rem;
}

.title_cont{
  position: relative;
  left:200px;
  width: calc( 100vw - 250px);
  color: var(--clr-primary-5);
}
.title_cont p{
  color: var(--clr-red-2);
  font-size: 0.8rem;
}
.color{
  color: var(--clr-primary-1);
}
.conta{
  height: 10rem;
}

/* =========================== Seller Auction CSS ======================================================================== */

.auction_page{
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}

.auction_item_cont{
 
  border-bottom: 1px solid var(--clr-grey-9);
}
.pending_auctions{
  margin-top: 3rem;
  border-top: 1px solid var(--clr-grey-7);
  
}
.pending_hed{
  margin-top: 2rem;
}
.createbt{
   display: flex; 
   justify-content: right;
}
.hed{
    font-weight: bold;
    font-size: large;
}
.left_right_container{
    display:flex ;
    flex-direction: row;
    justify-content: space-between;
    width: 1000px;
   
   
}

.left_right_container_review{
  display:flex ;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
 
  
  
  
 
}

.post_left{
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    margin-left: 1rem;
    justify-content: space-between;
    
}

.post_left_review{
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  flex: 0.7;
  /* gap: 0.5rem; */
  
}
.pro_name{
    font-weight: bold;
    font-size: x-large;
}
.pro_location{
    font-size: small;
    align-items: center;
}
.pro_exp{
    color: var(--clr-red-1);
    font-weight: bold;
    font-size: small;
}
.highest_bidder{
    color:var(--clr-primary-3);
    font-weight: bold;
}
.bidcount{
    font-weight: bold;
}
.post_right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 1rem;
    
   
}

.post_right_review{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 1rem;
  flex: 0.3;

  
 
}
.pro_detail{
    display: flex;
    flex-direction: column;
}
.pro_detail_review{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 200px;
}
.bid_detail{
    display: flex;
    flex-direction: column;
    
}
.high_bid{
    display: flex;
    flex-direction: column;
    justify-content: right;
    
    
}
.base_price{
    font-weight: bold;
    opacity: 50%;
    text-align: right;
}
.current_highest{
    font-weight: bold;
    font-size: x-large;
    text-align: right;
}
.remaining_time{
    color: var(--clr-red-1);
    font-weight: bold;
    text-align: right;
}
.update_edit_bt{
    display: flex;
   margin-top: 1rem;
    width: 330px;
    justify-content: right;
    gap:0.2rem
    
}
.aucbt_post{
color: var(--clr-white);
width: 150px;
font-size: small;
text-align: center;
}

.pop_up{
  background:var(--clr-primary-7);
  width: 30%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-high);
  /*opacity: 0;
  visibility: hidden;*/
   transform: translateY(0px);
   margin-left: 35%;
   
   transition: var(--transition);
  
  
}
 
.window{
  display: flex;
  flex-direction: column;
  
}

.sure{
  text-align: center;
  font-weight: bold;
  color: white;

}

.button_hold{
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.no_btn{
  background-color:#E42535;
}

.no_btn:hover{
  background-color: #fb8e97;
  color: whitesmoke;
}

@media screen and (max-width: 430px) {

  .mycard{
    box-shadow: var(--dark-shadow);
    padding:0.5rem;
    border-radius: var(--radius-low);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    margin-top: 1rem;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
    width: 200px;
  }

  .left_right_container{
    display:flex ;
    flex-direction:column;
    
    width: 200px;
    
    /* justify-content: space-between; */
    /* width: 1000px; */
   
   
}

.post_left{
  width: 200px;
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  /* margin-left: 1rem; */
  /* justify-content: space-between; */

}

.post_right{
  display: flex;
  width: 200px;
  flex-direction: column;
  /* justify-content: space-between;
  margin-right: 1rem; */
}

.update_edit_bt{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  width: 180px;
  justify-content: center;
  gap:0.2rem;
  align-self: center;

  
}

.aucbt_post{
  color: var(--clr-white);
  width: 180px;
  font-size: small;
  text-align: center;
  }

  .high_bid{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 0.1rem;
  }

  .base_price{
    font-weight: bold;
    opacity: 50%;
    text-align: left;
    margin-left: 1rem;
}
.current_highest{
    font-weight: bold;
    font-size: large;
    text-align: left;
    margin-left: 1rem;
}
.remaining_time{
    color: var(--clr-red-1);
    font-weight: bold;
    text-align:left;
    margin-left: 1rem;
}



 }


 @media screen and (max-width: 500px) {

  .mycard{
    box-shadow: var(--dark-shadow);
    padding:0.5rem;
    border-radius: var(--radius-low);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    margin-top: 1rem;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
    width: 280px;
  }

  .left_right_container{
    display:flex ;
    flex-direction:column;
    
    width: 280px;
    
    /* justify-content: space-between; */
    /* width: 1000px; */
   
   
}

.auction_item_cont{
  justify-content: center;
  
  padding: 2.5rem;
  
}

.post_left{
  width: 280px;
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  /* margin-left: 1rem; */
  /* justify-content: space-between; */

}

.post_right{
  display: flex;
  width: 280px;
  flex-direction: column;
  /* justify-content: space-between;
  margin-right: 1rem; */
}

.update_edit_bt{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  width: 250px;
  justify-content: center;
  gap:0.2rem;
  align-self: center;

  
}

.aucbt_post{
  color: var(--clr-white);
  width: 250px;
  font-size: small;
  text-align: center;
  }

  .high_bid{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 0.1rem;
  }

  .base_price{
    font-weight: bold;
    opacity: 50%;
    text-align: left;
    margin-left: 1rem;
}
.current_highest{
    font-weight: bold;
    font-size: large;
    text-align: left;
    margin-left: 1rem;
}
.remaining_time{
    color: var(--clr-red-1);
    font-weight: bold;
    text-align:left;
    margin-left: 1rem;
}
.mango{
  height: 250px;
  width:250px;
  border-radius: var(--radius-low);
}

.left_right_container_review{
  display:flex ;
  flex-direction: column;
  justify-content: space-between;
  /* width: 1000px;
  
  height: 200px; */
 
}

.post_right_review{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.auc_cards{
  align-self: center;
}




 }



 
